{% extends 'layouts/app.html.twig' %}
{% set metaTitle = user.fullName %}
{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-3">
                {{ include ('profile/_menu.html.twig') }}
            </div>
            <div class="fr-col-12 fr-col-md-9">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_organizations_list'},
                    { title: 'profile.delete.title'|trans, url: path('app_profile_delete'), generatedPath: true },
                    { title: metaTitle },
                ]} %}
                <h2 class="fr-mb-2w">{{ 'profile.delete.title'|trans }}</h2>
                <p>{{ 'profile.delete.help'|trans }}</p>
                <p>{{ 'profile.delete.details'|trans }}</p>
                <ul>
                    <li>{{ 'profile.delete.first.item'|trans }}</li>
                    <li>{{ 'profile.delete.second.item'|trans }}</li>
                </ul>
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
