{% extends 'email/base.html.twig' %}
{% trans_default_domain 'emails' %}

{% block body %}
    <h1>{{ 'forgot_password.subject'|trans }}</h1>
    <p>{{ 'common.hello'|trans({'%fullName%': fullName }) }}</p>
    <p>{{ 'forgot_password.title'|trans }}</p>
    <p>
        <a href="{{ baseUrl ~ path('app_reset_password', { token }) }}">
            {{ 'forgot_password.reset'|trans }}
        </a>
    </p>
    <p>{{ 'common.expiration'|trans }}</p>
{% endblock %}
