<div class="app-card">
    <div class="app-card__img">
        <span class="fr-icon-article-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
    </div>
    <div class="app-card__content">
        <h3 class="fr-h4">
            {{ 'regulation.general_info'|trans }}
        </h3>
        {{ form_start(form) }}
            {{ form_row(form.identifier, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
            {{ form_row(form.organization, {group_class: 'fr-select-group', widget_class: 'fr-select'}) }}
            {{ form_row(form.description, {group_class: 'fr-input-group', attr: {class: 'fr-input'}, help_attr: {class: 'fr-hint-text'}}) }}
            {{ form_row(form.startDate, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
            {{ form_row(form.endDate, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
            <a href="{{ cancelUrl }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
                {{ "common.cancel"|trans }}
            </a>
            {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
</div>
