<div class="app-card app-card--raised">
    <div class="app-card__header">
        <span class="app-card__img fr-icon-article-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
        <h3 class="app-card__title fr-h4 fr-mb-0">
            {{ form.description.vars.value|default('regulation.general_info'|trans)|u.truncate(36, '...', false) }}
        </h3>
    </div>
    <div class="app-card__content">
        {{ form_start(form) }}
            {{ form_row(form.identifier, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
            {{ form_row(form.organization, {group_class: 'fr-select-group', widget_class: 'fr-select'}) }}
            <div class="fr-fieldset" data-controller="form-reveal">
                <div class="fr-fieldset__element">
                    {{ form_row(form.category, {
                        group_class: 'fr-select-group',
                        widget_class: 'fr-select',
                        attr: {
                            'data-controller': 'condition',
                            'data-condition-equals-value': 'other',
                            'data-action': 'change->condition#dispatchFromInputChange condition:yes->form-reveal#open condition:no->form-reveal#close',
                        }
                    }) }}
                </div>
                <div id="otherCategoryText-output" class="fr-fieldset__element" data-form-reveal-target="section" {% if form.category.vars.value != 'other' %}hidden{% endif %}>
                    {{ form_row(form.otherCategoryText, { group_class: 'fr-input-group', widget_class: 'fr-input', attr: { 'data-form-reveal-target': 'form-control' } }) }}
                </div>
            </div>
            {{ form_row(form.description, {group_class: 'fr-input-group', attr: {class: 'fr-input'}, help_attr: {class: 'fr-hint-text'}}) }}
            {{ form_row(form.startDate, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-lg-5'}}) }}
            {{ form_row(form.endDate, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-lg-5'}}) }}
            <a href="{{ cancelUrl }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
                {{ "common.cancel"|trans }}
            </a>
            {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
</div>
