{% set duplicateCsrfToken = csrf_token('duplicate-regulation') %}
{% set deleteCsrfToken = csrf_token('delete-regulation') %}

<div class="fr-table fr-table--layout-fixed">
    <table>
        <thead>
            <tr>
                <th scope="col">{{ 'regulation.identifier'|trans }}</th>
                <th scope="col">{{ 'regulation.locations'|trans }}</th>
                <th scope="col">{{ 'regulation.period'|trans }}</th>
                <th scope="col">{{ 'regulation.status'|trans }}</th>
                <th scope="col">{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for regulation in pagination.items %}
                {% set isUpcoming = regulation.startDate ? app_is_future(regulation.startDate) : null %}
                {% set hasPassed = regulation.endDate ? app_is_future(null,null,regulation.endDate) : null %}

                <tr>
                    <td>
                        {{ regulation.identifier }}
                    </td>
                    <td>
                        {% if regulation.location %}
                            {{ regulation.location.address.city }}<br/>
                            <b>{{ regulation.location.address.roadName }}</b>
                            {% if regulation.numLocations > 1%}
                                <em>{{ 'regulation.locations.more'|trans({'%count%': regulation.numLocations - 1}) }}</em>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if regulation.startDate %}
                            {% set startDate = regulation.startDate %}
                            {% set endDate = regulation.endDate %}
                            {% if startDate and endDate %}
                                {{ 'common.date.from'|trans({ '%date%': app_datetime(startDate) }) }}
                                {{ 'common.date.to'|trans({ '%date%': app_datetime(endDate) }) }}
                            {% else %}
                                {{ 'common.date.starting'|trans({ '%date%': app_datetime(startDate) }) }}
                            {% endif %}
                            <br />
                            <b>
                                {% if isUpcoming %}
                                    {{ 'common.date.upcoming'|trans }}
                                {% elseif hasPassed %}
                                    {{ 'common.date.passed'|trans }}
                                {% else %}
                                    {{ 'common.date.ongoing'|trans }}
                                {% endif %}
                            </b>
                        {% endif %}
                    </td>
                    <td>
                        {% include 'regulation/_status_badge.html.twig' with { status: regulation.status } only %}
                    </td>
                    <td>
                        <div class="fr-btns-group fr-btns-group--inline-sm">
                            {% if regulation.status == 'published' %}
                                <a title="{{ 'common.see'|trans }}" href="{{ path('app_regulation_detail', { uuid: regulation.uuid }) }}" class="fr-btn fr-icon-eye-line fr-btn--tertiary-no-outline">
                                    {{ 'common.see'|trans }}
                                </a>
                            {% else %}
                                <a title="{{ 'common.update'|trans }}" href="{{ path('app_regulation_detail', { uuid: regulation.uuid }) }}" class="fr-btn fr-icon-edit-line fr-btn--tertiary-no-outline">
                                    {{ 'common.update'|trans }}
                                </a>
                            {% endif %}
                            <form method="post" action="{{ path('app_regulation_duplicate', { uuid: regulation.uuid })}}">
                                <button class="fr-btn ri-file-copy-line remixicons fr-btn--tertiary-no-outline" title="{{ 'common.duplicate'|trans }}"></button>
                                <input type="hidden" name="token" value="{{ duplicateCsrfToken }}"/>
                            </form>
                            <form
                                method="delete"
                                action="{{ path('app_regulation_delete', { uuid: regulation.uuid }) }}"
                                data-controller="form-submit"
                                data-form-submit-event-name-value="modal-trigger:submit"
                            >
                                <button
                                    class="fr-btn fr-btn--tertiary-no-outline fr-icon-delete-bin-line"
                                    data-controller="modal-trigger"
                                    data-modal-trigger-modal-outlet="#regulation-delete-modal"
                                    data-modal-trigger-key-value="{{ regulation.uuid }}"
                                    data-action="modal-trigger#showModal:prevent"
                                    aria-controls="regulation-delete-modal"
                                    title="{{ 'common.delete'|trans }}"
                                ></button>
                                <input type="hidden" name="token" value="{{ deleteCsrfToken }}" />
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr data-testid="empty-row">
                    <td colspan="5">
                        <p><em>{{ 'regulation.list.empty'|trans }}</em></p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
