{% for item in regulationOrderHistory %}
        {% if item.action == 'create' %}
            <p class="fr-text--sm fr-x-text--mention-grey fr-mt-1v">{{'regulation.regulation_order_history.action.create'|trans}} {{ item.date|date("d-m-Y") }}</p>
        {% elseif item.action == 'publish' %}
            <p class="fr-text--sm fr-x-text--mention-grey fr-mt-1v">{{'regulation.regulation_order_history.action.publish'|trans}} {{ item.date|date("d-m-Y") }}</p>
        {% else %}
            <p class="fr-text--sm fr-x-text--mention-grey fr-mt-1v">{{'regulation.regulation_order_history.action.update'|trans}} {{ item.date|date("d-m-Y") }}</p>
        {% endif %}
    {% endfor %}
