<fieldset
    class="fr-fieldset {% if form.allVehicles.vars.errors|length > 0 %}fr-fieldset--error{% endif %}"
    role="radiogroup"
    aria-labelledby="allVehicles-legend-{{ index }} {% if form.allVehicles.vars.errors|length > 0 %}{{ form.allVehicles.vars.id }}_error{% endif %}"
    data-controller="visibility"
>
    {{ form_label(form.allVehicles, null, { 
        element: 'legend',
        label_attr: { 'id': 'allVehicles-legend-' ~ index, 'class': 'fr-fieldset__legend' }
    }) }}

    {% for option in form.allVehicles %}
        <div class="fr-fieldset__element">
            <div class="fr-radio-group fr-radio-rich {% if option.vars.value == 'no' %}app-someVehicles__radiogroup{% endif %}">
                {{ form_widget(option, {
                    attr: {
                        'data-controller': 'condition',
                        'data-condition-equals-value': 'no',
                        'data-action': 'change->condition#dispatchFromInputChange condition:yes->visibility#showTargets condition:no->visibility#hideTargets',
                    },
                }) }}
                {{ form_label(option, null, { help: (option.vars.label ~ '.help')|trans }) }}
                <div class="fr-radio-rich__img app-vehicle-image">
                    <img src="{{ asset('images/restriction/all_vehicles.' ~ option.vars.value ~ '.svg') }}" alt=""  />
                    <img class="app-vehicle-image__close" src="{{ asset('images/restriction/close.svg') }}" alt="" />
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="fr-fieldset__element fr-mt-n4v" data-visibility-target="hideable" {% if form.allVehicles.vars.value != 'no' %}hidden{% endif %}>
        <div class="app-card app-card--content-only app-someVehicles__form">
            <div class="app-card__content">
                <fieldset class="fr-x-fieldset--raw" data-controller="visibility disable">
                    <fieldset class="fr-fieldset" aria-labelledby="restrictedTypes-legend-{{ index }}">
                        {{ form_label(form.restrictedTypes, null, {
                            element: 'legend',
                            label_attr: { id: 'restrictedTypes-legend-' ~ index, class: 'fr-fieldset__legend fr-fieldset__legend--regular' },
                        }) }}

                        <ul
                            class="fr-fieldset__item fr-tags-group"
                            data-controller="condition"
                            data-condition-checked-value="other"
                            data-action="condition:yes->visibility#showTargets condition:yes->disable#enableTargets condition:no->visibility#hideTargets condition:no->disable#disableTargets"
                        >
                            {% for vehicleType in form.restrictedTypes %}
                                <li>
                                    {% set btnId = vehicleType.vars.id ~ '-btn' %}
                                    {% set iconName = app_vehicle_type_icon_name(vehicleType.vars.value) %}
                                    {% set isChecked = vehicleType.vars.value in form.restrictedTypes.vars.value ? "true" : "false" %}

                                    <label for="{{ btnId }}" data-controller="chip-button">
                                        <button
                                            id="{{ btnId }}"
                                            type="button"
                                            class="fr-tag {% if iconName %}fr-tag--icon-left fr-icon-x-{{ iconName }}{% endif %}"
                                            aria-pressed="{{ isChecked }}"
                                            data-chip-button-target="button"
                                        >
                                            {{ vehicleType.vars.label|trans }}
                                        </button>

                                        {{ form_widget(vehicleType, { attr: {
                                            hidden: true,
                                            'data-chip-button-target': 'checkbox',
                                            'data-condition-target': 'checkbox',
                                            'data-action': 'change->condition#dispatchFromCheckboxes',
                                        } }) }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </fieldset>

                    {{ form_row(form.otherRestrictedTypeText, {
                        row_attr: {
                            'data-visibility-target': 'hideable',
                            hidden: 'other' not in form.restrictedTypes.vars.value,
                        },
                        attr: {
                            'data-disable-target': 'switchable',
                            disabled: 'other' not in form.restrictedTypes.vars.value,
                        },
                        group_class: 'fr-input-group',
                        widget_class: 'fr-input',
                    }) }}
                </fieldset>

                {{ form_errors(form.restrictedTypes) }}
            </div>
        </div>
    </div>

    {{ form_errors(form.allVehicles) }}
</fieldset>

<fieldset
    class="fr-fieldset"
    aria-labelledby="exemptedVehicles-legend-{{ index }}"
    data-controller="visibility"
>
    <legend id="exemptedVehicles-legend-{{ index }}" class="fr-fieldset__legend">
        {{ 'regulation.vehicle_set.exempted_vehicles'|trans }}
    </legend>

    <button
        type="button"
        id="defineExemptedVehiclesBtn-{{ index }}"
        class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-add-line fr-x-btn--with-hint"
        data-action="click->visibility#hideCurrentTarget click->visibility#showTargets"
        {% if form.exemptedTypes.vars.value|length > 0 %}hidden{% endif %}
    >
        {{ 'regulation.vehicle_set.exempted_vehicles.add'|trans }}
        <span class="fr-hint-text">
            {{ 'regulation.vehicle_set.exempted_vehicles.add.help'|trans }}
        </span>
    </button>

    <div
        class="fr-fieldset__element"
        data-visibility-target="hideable"
        {% if form.exemptedTypes.vars.value|length == 0 %}hidden{% endif %}
    >
        <div class="app-card app-card--no-header" data-controller="disable">
            <div
                class="app-card__content"
                data-controller="visibility condition disable"
                data-condition-includes-value="other"
                data-action="condition:yes->visibility#showTargets condition:yes->disable#enableTargets condition:no->visibility#hideTargets condition:no->disable#disableTargets"
            >
                <fieldset
                    id="exemptedVehicles-fieldset-{{ index }}"
                    class="fr-fieldset app-card__content"
                    aria-labelledby="exemptedTypes-legend-{{ index }}"
                >
                    {{ form_label(form.exemptedTypes, null, {
                        element: 'legend',
                        label_attr: { id: 'exemptedTypes-legend-' ~ index, class: 'fr-fieldset__legend fr-fieldset__legend--regular' },
                    }) }}

                    <ul class="fr-fieldset__item fr-tags-group">
                        {% for vehicleType in form.exemptedTypes %}
                            <li>
                                {% set btnId = vehicleType.vars.id ~ '-btn' %}
                                {% set iconName = app_vehicle_type_icon_name(vehicleType.vars.value) %}
                                {% set isChecked = vehicleType.vars.value in form.exemptedTypes.vars.value ? "true" : "false" %}
                                <label for="{{ btnId }}" data-controller="chip-button">
                                    <button
                                        id="{{ btnId }}"
                                        type="button"
                                        class="fr-tag {% if iconName %}fr-tag--icon-left fr-icon-x-{{ iconName }}{% endif %}"
                                        aria-pressed="{{ isChecked }}"
                                        data-chip-button-target="button"
                                    >
                                        {{ vehicleType.vars.label|trans }}

                                        {{ form_widget(vehicleType, { attr: {
                                            hidden: true,
                                            'data-chip-button-target': 'checkbox',
                                            'data-condition-target': 'checkbox',
                                            'data-action': 'change->condition#fromCheckboxChange',
                                        } }) }}
                                    </button>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>

                    {{ form_row(form.otherExemptedTypeText, {
                        row_attr: {
                            'data-visibility-target': 'hideable',
                            hidden: 'other' not in form.exemptedTypes.vars.value
                        },
                        attr: {
                            'data-disable-target': 'switchable',
                            disabled: 'other' not in form.exemptedTypes.vars.value,
                        },
                        group_class: 'fr-input-group',
                        widget_class: 'fr-input',
                    }) }}
                </fieldset>
            </div>

            <div class="app-card__actions">
                <button
                    type="button"
                    class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-delete-line"
                    title="{{ 'regulation.measure.exempted_vehicles.delete'|trans }}"
                    aria-label="{{ 'regulation.measure.exempted_vehicles.delete'|trans }}"
                    data-action="click->visibility#hideTargets click->visibility#showById click->disable#disableById"
                    data-visibility-id-param="defineExemptedVehiclesBtn-{{ index }}"
                    data-disable-id-param="exemptedVehicles-fieldset-{{ index }}"
                ></button>
            </div>
        </div>
    </div>
</fieldset>
