{% extends 'layouts/app.html.twig' %}

{% set title = (generalInfo.endDate ? 'regulation.temporary' : 'regulation.permanent')|trans ~ ' ' ~ generalInfo.identifier  %}

{% block title %}
    {{ title }}
    -
    {{ parent() }}
{% endblock %}

{% block page_class %}fr-background-alt--grey{% endblock %}

{% block body %}
    {% set isDraft = generalInfo.isDraft %}
    <section class="fr-container fr-py-2w fr-py-md-5w" aria-labelledby="regulation-detail">
        {% include "common/breadcrumb.html.twig" with { items: [
            { title: 'regulation.breadcrumb'|trans, path: 'app_regulations_list'},
            { title: 'regulation.detail.breadcrumb'|trans({ '%identifier%': generalInfo.identifier }) },
        ]} %}

        <div>
            <h2 id="regulation-detail">{{ title }}</h2>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-8 fr-col-xl-9">
                    <div class="fr-mx-n4v fr-mx-md-0">
                        {% include "regulation/fragments/_general_info.html.twig" with { 'canEdit': isDraft, generalInfo } only %}
                    </div>
                    <section aria-labelledby="measures-title">
                        <h3 id="measures-title" class="fr-h5 fr-x-text--default-grey fr-mt-5w">
                            {{ 'regulation.measures'|trans }}
                        </h3>

                        <ul id="measure_list" class="fr-raw-list">
                            {% for measure in measures %}
                                <li class="fr-mx-n4v fr-mx-md-0">
                                    {% include "regulation/fragments/_measure.html.twig" with { measure, generalInfo, canDelete } only %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if isDraft %}
                            {% if measures|length > 0 %}
                                {% include "regulation/fragments/_add_measure_link.html.twig" with { regulationOrderRecordUuid: generalInfo.uuid } only %}
                            {% else %}
                                {{ render(path('fragment_regulations_measure_add', { uuid: generalInfo.uuid })) }}
                            {% endif %}
                        {% endif %}
                    </section>
                </div>

                <aside class="fr-col fr-col-md-4 fr-col-xl-3 fr-mt-8w fr-mx-n4v fr-mx-md-0 fr-mt-md-0">
                    <div class="app-card app-card--raised">
                        <div class="app-card__content">
                            <h3 class="fr-h4">{{ 'regulation.status'|trans }}</h3>
                            {% include 'regulation/_status_badge.html.twig' with { status: generalInfo.status, withHint: true } %}

                            <turbo-frame id="block_export">
                                {% if canPublish %}
                                    {% include 'regulation/fragments/_export_section.html.twig' with { regulationOrderRecordUuid: generalInfo.uuid } only %}
                                {% endif %}
                            </turbo-frame>

                            <h3 class="fr-h4">{{ 'common.actions'|trans }}</h3>
                            <ul class="fr-btns-group fr-btns-group--icon-left">
                                {% if isDraft %}
                                    <li>
                                        <div id="block_publication">
                                            {% include 'regulation/fragments/_publication_button.html.twig' with { canPublish, uuid: generalInfo.uuid } only %}
                                        </div>
                                    </li>
                                {% endif %}
                                <li>
                                    {% set duplicateCsrfToken = csrf_token('duplicate-regulation') %}
                                    <form method="post" action="{{ path('app_regulation_duplicate', { uuid: generalInfo.uuid })}}">
                                        <button class="fr-btn fr-btn--secondary" title="{{ 'common.duplicate'|trans }}">{{ 'common.duplicate'|trans }}</button>
                                        <input type="hidden" name="token" value="{{ duplicateCsrfToken }}"/>
                                    </form>
                                </li>
                                <li>
                                    {% set deleteCsrfToken = csrf_token('delete-regulation') %}
                                    <form
                                        method="delete"
                                        action="{{ path('app_regulation_delete', { uuid: generalInfo.uuid }) }}"
                                        data-controller="form-submit"
                                        data-action="modal-trigger:submit->form-submit#submit"
                                    >
                                        <button
                                            class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-delete-bin-line"
                                            data-controller="modal-trigger"
                                            data-modal-trigger-modal-outlet="#regulation-delete-modal"
                                            data-modal-trigger-key-value="delete"
                                            data-action="modal-trigger#showModal:prevent"
                                            aria-controls="regulation-delete-modal"
                                        >
                                            {{'common.delete'|trans}}
                                        </button>
                                        <input type="hidden" name="token" value="{{ deleteCsrfToken }}" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="fr-mt-22v">
                {% set tab = generalInfo.startDate and generalInfo.endDate ? 'temporary' : 'permanent'  %}
                <a href="{{ path('app_regulations_list', { tab }) }}" class="fr-link fr-fi-arrow-left-line fr-link--icon-left">
                    {{ 'regulation.back'|trans }}
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_end %}
    {{ parent() }}

    {% if isDraft %}
        {% include "common/confirmation_modal.html.twig" with {
            id: 'regulation-publish-modal',
            title: 'regulation.publish_modal.title'|trans,
            confirmLabel: 'common.publish'|trans,
            cancelLabel: 'common.do_not_publish'|trans,
        } only %}
        {% include "common/confirmation_modal.html.twig" with {
            id: 'measure-delete-modal',
            title: 'measure.delete_modal.title'|trans,
            confirmLabel: 'common.delete'|trans,
            cancelLabel: 'common.do_not_delete'|trans,
        } only %}
    {% endif %}
    {% include "common/confirmation_modal.html.twig" with {
        id: 'regulation-delete-modal',
        title: 'regulation.delete_modal.title'|trans,
        confirmLabel: 'common.delete'|trans,
        cancelLabel: 'common.do_not_delete'|trans,
    } only %}
{% endblock %}
