{% extends 'layouts/layout.html.twig' %}

{% set title = (isPermanent ? 'regulation.permanent' : 'regulation.temporary')|trans ~ ' ' ~ generalInfo.identifier  %}

{% block title %}
	{{ title }}
	-
	{{ parent() }}
{% endblock %}

{% block page_class %}fr-background-alt--grey
{% endblock %}

{% set definesContentSkiplink = true %}

{% block body %}
	{% set isDraft = generalInfo.isDraft %}
	<section class="fr-container fr-py-2w fr-py-md-5w" aria-labelledby="regulation-detail">
		{% include "common/breadcrumb.html.twig" with { items: [
            { title: 'regulation.breadcrumb'|trans, path: 'app_regulations_list'},
            { title: 'regulation.detail.breadcrumb'|trans({ '%identifier%': generalInfo.identifier }) },
        ]} %}

		<div id="content">
			<h2 id="regulation-detail">{{ title }}</h2>

			<div class="fr-grid-row fr-grid-row--gutters">
				<div class="fr-col-12 fr-col-md-8 fr-col-xl-9">
					<div class="fr-mx-n4v fr-mx-md-0">
						{% include "regulation/fragments/_general_info.html.twig" with { canEdit: (isDraft and not isReadOnly), generalInfo } only %}
					</div>
					<section aria-labelledby="measures-title">
						<h3 id="measures-title" class="fr-h5 fr-x-text--default-grey fr-mt-5w">
							{{ 'regulation.measures'|trans }}
						</h3>

						<ul id="measure_list" class="fr-raw-list">
							{% for measure in measures %}
								<li class="fr-mx-n4v fr-mx-md-0">
									{% include "regulation/fragments/_measure.html.twig" with { isReadOnly, measure, generalInfo, canDelete } only %}
								</li>
							{% endfor %}
						</ul>

						{% if not isReadOnly and isDraft %}
							{% if measures|length > 0 %}
								{% include "regulation/fragments/_add_measure_link.html.twig" with { regulationOrderRecordUuid: generalInfo.uuid } only %}
							{% else %}
								{{ render(path('fragment_regulations_measure_add', { uuid: generalInfo.uuid })) }}
							{% endif %}
						{% endif %}
					</section>
				</div>

				<aside class="fr-col fr-col-md-4 fr-col-xl-3 fr-mt-8w fr-mx-n4v fr-mx-md-0 fr-mt-md-0">
					<div class="app-card app-card--raised">
						<div class="app-card__content">
							<h3 class="fr-h4 fr-mb-2w">{{ 'regulation.status'|trans }}</h3>
							{% include 'regulation/_status_badge.html.twig' with { status: generalInfo.status, withHint: true } %}
							{% include 'regulation/_regulation_order_history.html.twig' with { latestHistory: latestHistory } %}
						</div>
					</div>

					{% if not isReadOnly %}
						{% if canPublish %}
							<div class="app-card app-card--raised fr-mt-2w">
								<div class="app-card__content">
									<turbo-frame id="block_export">
										{% include 'regulation/fragments/_export_section.html.twig' with { regulationOrderRecordUuid: generalInfo.uuid } only %}
									</turbo-frame>
								</div>
							</div>
						{% endif %}

						<div data-testid="ressources" class="app-card app-card--raised fr-mt-2w">
							<div class="app-card__content">
								<h3 class="fr-h4 fr-mb-2w">{{ 'regulation.import'|trans }}</h3>
								{% if not storageRegulationOrder %}
									<div class="fr-mt-1v fr-text--sm fr-x-text--mention-grey">
										{{ 'regulation.import.description'|trans }}
									</div>
									<ul class="fr-mt-2v fr-btns-group fr-btns-group--icon-left">
										<li>
											<d-modal-trigger modal="create-form-modal" submitvalue="upload">
												<button class="fr-btn fr-btn--secondary" aria-controls="create-form-modal">
													{{ 'regulation.storage.title'|trans }}
												</button>
											</d-modal-trigger>
										</li>
									</ul>
								{% else %}
									<div class="fr-mt-1v fr-text--sm fr-x-text--mention-grey">
										{{ 'regulation.import.storage.description'|trans }}
									</div>
									<a target="_top" download class="fr-link fr-icon-download-line fr-link--icon-right" href="{{ storageRegulationOrderFile ?? storageRegulationOrder.url}}">{{ storageRegulationOrder.title|u.truncate(25, '...')}}</a>
									{% if storageRegulationOrder.mimeType and storageRegulationOrder.fileSize %}
										<div class="fr-mt-1v fr-text--sm fr-x-text--mention-grey">
											{{ storageRegulationOrder.mimeType }} - {{ storageRegulationOrder.fileSize }} ko
										</div>
									{% endif %}
									<div class="fr-btns-group fr-btns-group--inline-sm">
										<d-modal-trigger modal="upload-form-modal" submitvalue="upload">
											<button class="fr-btn fr-btn--tertiary fr-icon-edit-line" aria-controls="upload-form-modal"></button>
										</d-modal-trigger>

										{% set deleteToken = csrf_token('delete-storage') %}
										<form method="POST" action="{{ path('app_config_regulation_delete_storage', { uuid }) }}" data-controller="form-submit" data-action="modal-trigger:submit->form-submit#submit">
											<input type="hidden" name="_method" value="DELETE">
											<d-modal-trigger modal="storage-delete-modal" submitvalue="delete">
												<button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-delete-bin-line" aria-controls="storage-delete-modal" data-testid="delete"></button>
											</d-modal-trigger>
											<input type="hidden" name="_token" value="{{ deleteToken }}"/>
										</form>
									</div>
								{% endif %}
							</div>
						</div>

						<div class="app-card app-card--raised fr-mt-2w" data-testid="actions">
							<div class="app-card__content">
								<h3 class="fr-h4 fr-mb-2w">{{ 'common.actions'|trans }}</h3>
								<ul class="fr-mt-2v fr-btns-group fr-btns-group--icon-left">
									{% if isDraft %}
										<li>
											<div id="block_publication">
												{% include 'regulation/fragments/_publication_button.html.twig' with { canPublish, uuid: generalInfo.uuid, regulationOrderRecord } only %}
											</div>
										</li>
									{% endif %}
									{% if not isDraft %}
										<li>
											<a href="{{ path('app_mailing_list_share', { uuid: regulationOrderRecord.uuid })}}" role="button" class="fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-send-plane-line">{{ 'common.share'|trans }}</a>
											<hr class="fr-mt-1w">
										</li>
									{% endif %}
									<li>
										{% set duplicateCsrfToken = csrf_token('duplicate-regulation') %}
										<form method="post" action="{{ path('app_regulation_duplicate', { uuid: generalInfo.uuid })}}">
											<button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-x-file-copy-line" title="{{ 'common.duplicate'|trans }}">{{ 'common.duplicate'|trans }}</button>
											<input type="hidden" name="_token" value="{{ duplicateCsrfToken }}"/>
										</form>
									</li>
									<li>
										{% set deleteCsrfToken = csrf_token('delete-regulation') %}
										<form method="POST" action="{{ path('app_regulation_delete', { uuid: generalInfo.uuid }) }}" data-controller="form-submit" data-action="modal-trigger:submit->form-submit#submit">
											<input type="hidden" name="_method" value="DELETE">

											<d-modal-trigger modal="regulation-delete-modal" submitvalue="delete">
												<button class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-delete-bin-line" aria-controls="regulation-delete-modal">
													{{'common.delete'|trans}}
												</button>
											</d-modal-trigger>

											<input type="hidden" name="_token" value="{{ deleteCsrfToken }}"/>
										</form>
									</li>
								</ul>
							</div>
						</div>
					{% else %}
						<div class="app-card app-card--raised fr-mt-2w">
							<div class="app-card__content">
								<h3 class="fr-h4 fr-mb-0">{{ 'public.regulation.map'|trans }}</h3>
								<p class="fr-text--sm fr-x-text--mention-grey fr-mt-2v">{{ 'public.regulation.map.view'|trans }}</p>
								<div class="fr-x-text--center">
									<a class="fr-link fr-icon-road-map-line fr-link--icon-left" href="{{ path('app_carto') }}">
										{{ 'public.regulation.map.link'|trans }}
									</a>
								</div>
							</div>
						</div>
						{% if storageRegulationOrder %}
							<div class="app-card app-card--raised fr-mt-2w">
								<div class="app-card__content">
									<h3 class="fr-h4 fr-mb-2w">{{ 'regulation.import'|trans }}</h3>
									<a target="_top" download class="fr-link fr-icon-download-line fr-link--icon-right" href="/storage/{{ storageRegulationOrder.path }}">{{ storageRegulationOrder.title|u.truncate(25, '...')}}</a>
									<div class="fr-mt-1v fr-text--sm fr-x-text--mention-grey">
										{{ 'storageRegulationOrder.export.pdf.mention'|trans }}
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				</aside>
			</div>
			<div class="fr-mt-22v">
				<a href="{{ path('app_regulations_list') }}" class="fr-link fr-fi-arrow-left-line fr-link--icon-left">
					{{ 'regulation.back'|trans }}
				</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block body_end %}
	{{ parent() }}
	{% if not isReadOnly %}
		{% if isDraft %}
			{% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\RegulationOrderRecordVoter::PUBLISH'), regulationOrderRecord) %}
				{% include "common/confirmation_modal.html.twig" with {
                    id: 'regulation-publish-modal',
                    title: 'regulation.publish_modal.title'|trans,
                    buttons: [
                        { label: 'common.publish'|trans, attr: {type: 'submit', class: 'fr-btn'} },
                        { label: 'common.do_not_publish'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
                    ],
                } only %}
			{% endif %}

			{% include "common/confirmation_modal.html.twig" with {
                id: 'measure-delete-modal',
                title: 'measure.delete_modal.title'|trans,
                buttons: [
                    { label: 'common.delete'|trans, attr: {type: 'submit', class: 'fr-btn'} },
                    { label: 'common.do_not_delete'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
                ],
            } only %}
		{% endif %}

		{% include "common/confirmation_modal.html.twig" with {
            id: 'regulation-delete-modal',
            title: 'regulation.delete_modal.title'|trans,
            buttons: [
                { label: 'common.delete'|trans, attr: {type: 'submit', class: 'fr-btn'} },
                { label: 'common.do_not_delete'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
            ],
        } only %}

		{% include "common/confirmation_modal.html.twig" with {
            id: 'storage-delete-modal',
            title: 'regulation.delete_modal.title'|trans,
            buttons: [
                { label: 'common.delete'|trans, attr: {type: 'submit', class: 'fr-btn'} },
                { label: 'common.do_not_delete'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
            ],
        } only %}

		{% include "common/form-modal.html.twig" with {
            id: not storageRegulationOrder?'create-form-modal':'upload-form-modal',
            frameId: 'upload-form-frame',
            src: not storageRegulationOrder?path('app_config_regulation_add_storage', { uuid }):path('app_config_regulation_edit_storage', { uuid }),
        } only %}
	{% endif %}
{% endblock %}
