{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'regulation.list.title'|trans }}</h3>
    <a href="{{ path('app_regulations_steps_1') }}">{{ "regulation.list.add_button"|trans }}</a>

    <div class="fr-tabs">
        <ul class="fr-tabs__list" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
            <li role="presentation">
                <button id="published" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="published-panel">
                    Publiées ({{pagination.totalItems}})
                </button>
            </li>
            <li role="presentation">
                <button id="draft" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="draft-panel">
                    Brouillons (2)
                </button>
            </li>
        </ul>
        <div id="published-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="published" tabindex="0">
            <div class="fr-table fr-table--layout-fixed">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Commune</th>
                            <th scope="col">{{ 'regulation.period'|trans }}</th>
                            <th scope="col">Statut</th>
                            <th scope="col">{{ 'common.actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for regulation in pagination.items %}
                            <tr>
                                <td>NC</td>
                                <td>
                                    {% if regulation.period %}
                                        {% set startPeriod = regulation.period.startPeriod %}
                                        {% set endPeriod = regulation.period.endPeriod %}
                                        {% if startPeriod and endPeriod %}
                                            {{ 'regulation.period.temporary'|trans({
                                                '%startPeriod%': startPeriod|date('d/m/Y'),
                                                '%endPeriod%': endPeriod|date('d/m/Y'),
                                            })}}
                                        {% else %}
                                            {% if "now"|date('U') >= startPeriod|date('U') %}
                                                {{ 'regulation.period.permanent.present'|trans({
                                                    '%date%': startPeriod|date('d/m/Y'),
                                                })}}
                                            {% else %}
                                                {{ 'regulation.period.permanent.future'|trans({
                                                    '%date%': startPeriod|date('d/m/Y'),
                                                })}}
                                            {% endif %}
                                            <p class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon">
                                                {{ 'common.permanent'|trans}}
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ regulation.status }}</td>
                                <td>
                                    <a href="{{ path('app_regulations_steps_1', { uuid: regulation.uuid }) }}">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    <p><em>{{ 'regulation.list.empty'|trans }}</em></p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="draft-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="draft" tabindex="0">
            <!-- données de test -->
            <p>Brouillon (2)</p>
        </div>
    </div>


    <a href="{{ path('api_regulations_list', { _format: 'xml' }) }}" target="_blank">
        {{ "regulation.link.datex"|trans }}
    </a>
{% endblock %}
