{% extends 'layouts/app.html.twig' %}

{% block title %}
    {{'regulation.list.meta.title'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w" aria-labelledby="regulation-list">
        <div class="fr-grid-row">
            <h3 id="regulation-list" class="fr-col fr-mb-0">{{ 'regulation.list.title'|trans }}</h3>
            {% if app.user %}
                <a href="{{ path('app_regulation_add') }}" class="fr-ml-auto fr-btn fr-x-btn-sm--icon-left fr-icon-add-line" title="{{ "regulation.list.add_button"|trans }}">
                    {{ "regulation.list.add_button"|trans }}
                </a>
            {% endif %}
        </div>
        <div class="fr-card fr-mt-2w fr-p-2w">
            {% include "regulation/_items.html.twig" with { pagination: regulations } only %}
            {% include "common/pagination.html.twig" with {
                pagination: regulations,
                currentPage: app.request.get('page', 1),
                queryParams: app.request.query.all(),
            } only %}
        </div>
    </section>
{% endblock %}

{% block body_end %}
    {{ parent() }}
    {% include 'common/confirmation_modal.html.twig' with {
        id: 'regulation-delete-modal',
        title: 'regulation.delete_modal.title'|trans,
        buttons: [
            { label: 'common.delete'|trans, attr: {type: 'submit', class: 'fr-btn'} },
            { label: 'common.do_not_delete'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
        ]
    } only %}
{% endblock %}
