<section class="fr-container fr-py-5w">
    <h1 class="fr-h3 fr-icon-error-warning-line">{{ 'report_address.meta.title'|trans }}</h1>
    <p class="fr-x-text--mention-grey">{{ 'report_address.meta.description'|trans }}</p>
    {{ form_start(form) }}
    {{ form_row(form.roadType, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
    {{ form_row(form.content, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
    <ul class="fr-fieldset__element fr-btns-group fr-btns-group--inline fr-btns-group--right fr-mt-3w">
        <li>
            <button type="button" class="fr-btn fr-btn--tertiary fr-btns-group--right" data-controller="modal-close" data-action="click->modal-close#close">
                {{ "common.cancel"|trans }}
            </button>
        </li>
        <li>
            {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn-load','data-action': 'change->form-submit#submit',
            },}) }}
        </li>
    </ul>
    {{ form_end(form) }}
</section>
