{% extends 'layouts/app.html.twig' %}

{% block title %}
    {{'organization.list.title'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w" aria-labelledby="organization-list">
        <h3 id="organization-list">{{ 'organization.list.title'|trans }}</h3>
        <div class="fr-grid-row fr-grid-row--gutters" data-testid="organization-list">
            {% for organization in organizations %}
                <div class="fr-col-12 fr-col-md-4 fr-col-lg-4" data-testid="organization-detail">
                    <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                        <div class="fr-tile__body">
                            <div class="fr-tile__content">
                                <h3 class="fr-tile__title">
                                    <a href="{{ path('app_users_list', { uuid: organization.uuid }) }}">{{ organization.name }}</a>
                                </h3>
                                <p class="fr-tile__detail">
                                    {% for role in organization.roles %}
                                        {{ ('roles.' ~ role)|trans }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div class="fr-tile__header">
                            <div class="fr-tile__pictogram">
                                <img src="{{ asset('images/city-hall.png') }}" alt="city-hall" />
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
