{% extends 'layouts/app.html.twig' %}

{% block title %}
    {{'organization.list.title'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w" aria-labelledby="organization-list">
        <div class="fr-grid-row">
            <h3 id="organization-list" class="fr-col fr-mb-0">{{ 'organization.list.title'|trans }}</h3>
        </div>
        <div class="fr-table fr-table--layout-fixed fr-table--no-caption">
            <table>
                <caption>{{ 'organization.list.title'|trans }}</caption>
                <thead>
                    <tr>
                        <th scope="col">{{ 'organization.list.organizationName'|trans }}</th>
                        <th scope="col">{{ 'organization.list.roles'|trans }}</th>
                        <th scope="col">{{ 'common.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody data-testid="organization-list">
                    {% for organization in organizations %}
                        <tr>
                            <td>
                                {{ organization.name }}
                            </td>

                            <td>
                                {% for role in organization.roles %}
                                    {{ ('roles.' ~ role)|trans }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a title="{{ 'common.see'|trans }}" href="{{ path('app_users_list', { uuid: organization.uuid }) }}" class="fr-btn fr-icon-eye-line fr-btn--tertiary-no-outline">
                                    {{ 'common.see'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
