<d-map-share
    class="d-map-share"
    carteUrl="{{ carteUrl }}"
>
    <button
        type="button"
        class="fr-btn fr-btn--secondary fr-icon-share-line fr-btn--icon-left d-map-share__trigger"
        aria-haspopup="dialog"
        aria-controls="map-share-modal"
        data-share-role="trigger"
    >
        {{ 'map.share.button'|trans }}
    </button>

    <dialog
        id="map-share-modal"
        class="app-modal d-map-share__modal"
        role="dialog"
        aria-labelledby="map-share-modal-title"
        data-share-role="modal"
    >
        <form method="dialog" class="fr-container">
            <button class="fr-mb-2w fr-link fr-link--close" aria-controls="map-share-modal" type="submit">
                {{ 'common.close'|trans }}
            </button>

            <h1 id="map-share-modal-title" class="fr-h4">
                {{ 'map.share.modal.title'|trans }}
            </h1>
            <p>Partagez le lien vers la carte DiaLog ou copiez le code pour intégrer la carte dans votre site.</p>

            <div class="fr-tabs" data-share-role="tabs">
                <ul class="fr-tabs__list" role="tablist" aria-label="{{ 'map.share.modal.title'|trans }}">
                    <li role="presentation">
                        <button id="map-share-tab-link" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="map-share-tab-link-panel" type="button" data-share-tab="link">
                            {{ 'map.share.tab.link'|trans }}
                        </button>
                    </li>
                    <li role="presentation">
                        <button id="map-share-tab-embed" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="map-share-tab-embed-panel" type="button" data-share-tab="embed">
                            {{ 'map.share.tab.embed'|trans }}
                        </button>
                    </li>
                </ul>

                <div id="map-share-tab-link-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="map-share-tab-link" tabindex="0" data-share-panel="link">
                    <p class="fr-text--sm">{{ 'map.share.link.description'|trans }}</p>
                    <div class="fr-input-group">
                        <label class="fr-label" for="map-share-link-input">
                            {{ 'map.share.link.label'|trans }}
                        </label>
                        <div class="d-map-share__input-row">
                            <input
                                id="map-share-link-input"
                                class="fr-input"
                                type="text"
                                readonly
                                data-share-role="linkInput"
                                value=""
                            />
                            <button
                                type="button"
                                class="fr-btn fr-btn--tertiary-no-outline fr-icon-clipboard-line fr-btn--icon-left"
                                data-share-role="copyLink"
                            >
                                <span data-share-role="copyLinkLabel">{{ 'map.share.copy'|trans }}</span>
                                <span data-share-role="copyLinkFeedback" hidden>{{ 'map.share.copied'|trans }}</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div id="map-share-tab-embed-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="map-share-tab-embed" tabindex="0" data-share-panel="embed">
                    <p class="fr-text--sm">{{ 'map.share.embed.description'|trans }}</p>
                    <div class='d-map-share__input-row'>
                        <div class='d-map-share__embed-options'>
                            <div class="fr-select-group">
                                <label class="fr-label" for="map-share-org-select">
                                    {{ 'map.share.embed.organization.label'|trans }}
                                </label>
                                <select
                                    id="map-share-org-select"
                                    class="fr-select"
                                    data-share-role="orgSelect"
                                >
                                    {% for org in organizations %}
                                        <option value="{{ org.uuid }}"{% if loop.first %} selected{% endif %}>{{ org.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="fr-input-group fr-mt-2w">
                                <label class="fr-label" for="map-share-embed-code">
                                    {{ 'map.share.embed.code.label'|trans }}
                                </label>
                                <textarea
                                    id="map-share-embed-code"
                                    class="fr-input"
                                    rows="4"
                                    readonly
                                    data-share-role="embedInput"
                                ></textarea>
                            </div>
                        </div>
                        <button
                            type="button"
                            class="fr-btn fr-btn--tertiary-no-outline fr-icon-clipboard-line fr-btn--icon-left fr-mt-1w"
                            data-share-role="copyEmbed"
                        >
                            <span data-share-role="copyEmbedLabel">{{ 'map.share.copy'|trans }}</span>
                            <span data-share-role="copyEmbedFeedback" hidden>{{ 'map.share.copied'|trans }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </dialog>
</d-map-share>
