{% extends 'layouts/public.html.twig' %}

{% block title %}
    {{'map.meta.title'|trans}} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
    <div class="fr-x-container--fluid fr-x-h-full">
        <div class="fr-grid-row fr-x-h-full">
            <div class="fr-col-12 fr-col-sm-4 fr-col-md-3 fr-container fr-pt-2w fr-pb-6w">
                <h1 class="fr-h4">{{ 'map.title'|trans }}</h1>
                <section class="fr-my-2w">
                    <d-map-search-form target="map">
                        {% include 'map/_search_form.html.twig' with {} only %}
                    </d-map-search-form>
                </section>

                <section class="fr-accordion">
                    <h2 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="true" aria-controls="accordion-1040"><span class="fr-icon-filter-line fr-icon--sm fr-mr-1w" aria-hidden="true"></span>{{ 'map.filters.title'|trans }}</button>
                    </h2>
                    <div class="fr-collapse" id="accordion-1040">
                        <h3 class="fr-h6 fr-my-2w">{{ 'map.filters.title.restriction'|trans }}</h3>
                        <d-map-form target="map" urlAttribute="dataUrl">
                            {{ form_start(form, {
                                attr: {
                                    class: 'd-stack',
                                    style: '--stack-gap: var(--1w)',
                                },
                            }) }}
                            {{ form_row(form.measureTypes, {group_class: 'fr-checkbox-group'}) }}
                            <h4 class="fr-h6 fr-my-2w">{{ 'map.filters.title.type.regulation'|trans }}</h4>
                            {{ form_row(form.displayPermanentRegulations, {group_class: 'fr-checkbox-group'}) }}
                            {{ form_row(form.displayTemporaryRegulations, {group_class: 'fr-checkbox-group'}) }}
                            <noscript>
                                {{ form_row(form.save) }}
                            </noscript>
                            {{ form_end(form) }}
                        </d-map-form>
                    </div>
                </section>
            </div>

            <d-map
                id="map"
                class="fr-col-12 fr-col-sm-8 fr-col-md-9"
                aria-hidden="true"
                mapHeight="100%"
                mapMinHeight="600px"
                mapPos="[2.725, 47.16]"
                mapZoom="5"
                dataUrl="{{ path('app_carto_data') }}"
                locationPopupUrl="{{ path('fragment_map_location') }}"
            >
                <p data-map-hidewhen="ready" class="fr-mt-5w fr-x-text--center">
                    {{ 'map.loading'|trans }}
                </p>
            </d-map>
        </div>
    </div>
{% endblock %}
