{% extends 'layouts/layout.html.twig' %}
{% set metaTitle = user is defined ? user.fullName : 'user.form.add'|trans %}
{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_users_list', {uuid: organization.uuid}), generatedPath: true },
                    { title: 'user.list.title'|trans, url: path('app_users_list', {uuid: organization.uuid}), generatedPath: true },
                    { title: metaTitle },
                ]} %}
                <h2 class="fr-mb-0">{{ metaTitle }}</h2>
                <p class="fr-text--sm fr-x-text--uppercase">{{ organization.name }}</p>
                {{ form_start(form) }}
                    {{ form_row(form.fullName, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {{ form_row(form.email, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {% if form.password is defined %}
                        {{ form_row(form.password, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {% endif %}
                    <fieldset class="fr-fieldset {% if form.role.vars.errors|length > 0 %}fr-fieldset--error{% endif %}" id="user-role" aria-labelledby="user-role-legend">
                        {{ form_errors(form.role) }}
                        {{ form_label(form.role, null, {
                            element: 'legend',
                            label_attr: { 'id': 'user-role-legend', 'class': 'fr-fieldset__legend' }
                        }) }}
                        <div class="fr-fieldset__element">
                            {% for option in form.role %}
                                <div class="fr-radio-group fr-radio-rich fr-mt-2w">
                                    {{ form_widget(option) }}
                                    {{ form_label(option, null, { help: (option.vars.label ~ '.help')|trans }) }}
                                    <div class="fr-radio-rich__pictogram fr-text-center">
                                        <img src="{{ asset('images/roles/' ~ option.vars.value ~ '.svg') }}"/>
                                    </div>
                                </div>
                            {% endfor %}
                            <p class="fr-mt-2w fr-message fr-message--info">{{ 'user.form.roles.info'|trans }}</p>
                        </div>
                    </fieldset>
                    <a href="{{ path('app_users_list', {uuid: organization.uuid }) }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
                        {{ "common.cancel"|trans }}
                    </a>
                    {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
