{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{'user.list.title'|trans }} - {{ parent() }}
{% endblock %}

{% set deleteCsrfToken = csrf_token('delete-user') %}

{% block body %}
    <section class="fr-container fr-py-5w" aria-labelledby="user-list">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_config_organization_detail', {uuid: organization.uuid}), generatedPath: true },
                    { title: 'user.list.title'|trans },
                ]} %}
                <div class="fr-grid-row">
                    <h2 id="user-list" class="fr-col fr-mb-0">{{ 'user.list.title'|trans }}</h2>
                    {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                        <a href="{{ path('app_users_invite', { organizationUuid: organization.uuid }) }}" class="fr-ml-auto fr-btn fr-btn--secondary fr-x-btn-sm--icon-left fr-icon-add-line" title="{{ 'user.invite.title'|trans }}">
                            {{ 'user.invite.title'|trans }}
                        </a>
                    {% endif %}
                </div>
                <p class="fr-text--sm fr-x-text--uppercase">{{ organization.name }}</p>
                <div class="fr-table fr-table--layout-fixed fr-table--no-caption">
                    <table>
                        <caption>{{ 'user.list.title'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'user.list.fullName'|trans }}</th>
                                <th scope="col">{{ 'user.list.email'|trans }}</th>
                                <th scope="col">{{ 'user.list.roles'|trans }}</th>
                                <th scope="col" class="app-table__actions">{{ 'common.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody data-testid="user-list">
                            {% for invitation in invitations %}
                                <tr>
                                    <td>
                                        {{ invitation.fullName }}<br/>
                                        <p class="fr-tag fr-tag--sm">{{ 'user.list.waiting'|trans }}</p>
                                    </td>
                                    <td>
                                        {{ invitation.email }}
                                    </td>
                                    <td>
                                        {{ ('roles.' ~ invitation.role)|trans }}
                                    </td>
                                    <td>
                                        {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                                            <div class="fr-btns-group fr-btns-group--inline-sm">

                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.fullName }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ ('roles.' ~ user.role)|trans }}
                                    </td>
                                    <td>
                                        {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) and user.role != 'ROLE_ORGA_ADMIN' %}
                                            <div class="fr-btns-group fr-btns-group--inline-sm">
                                                <a title="{{ 'common.update'|trans }}" href="{{ path('app_users_edit', { uuid: user.uuid, organizationUuid: organization.uuid }) }}" class="fr-btn fr-icon-edit-line fr-btn--tertiary-no-outline">
                                                    {{ 'common.update'|trans }}
                                                </a>
                                                <form
                                                    method="POST"
                                                    action="{{ path('app_organization_users_delete', { uuid: user.uuid, organizationUuid: organization.uuid }) }}"
                                                    data-controller="form-submit"
                                                    data-action="modal-trigger:submit->form-submit#submit"
                                                    class="fr-hidden fr-unhidden-md"
                                                >
                                                    <input type="hidden" name="_method" value="DELETE">

                                                    <d-modal-trigger modal="user-delete-modal" submitValue="user-delete-{{ user.uuid }}">
                                                        <button
                                                            class="fr-btn fr-btn--tertiary-no-outline fr-icon-delete-bin-line"
                                                            aria-controls="user-delete-modal"
                                                            aria-label="{{ 'user.list.delete'|trans({'%fullName%': user.fullName}) }}"
                                                            title="{{ 'user.list.delete'|trans({'%fullName%': user.fullName}) }}"
                                                        ></button>
                                                    </d-modal-trigger>

                                                    <input type="hidden" name="_token" value="{{ deleteCsrfToken }}" />
                                                </form>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_end %}
    {{ parent() }}
    {% include 'common/confirmation_modal.html.twig' with {
        id: 'user-delete-modal',
        title: 'user.delete_modal.title'|trans,
        buttons: [
            { label: 'common.delete'|trans, attr: {type: 'submit', class: 'fr-btn'} },
            { label: 'common.do_not_delete'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
        ]
    } only %}
{% endblock %}
