{% extends 'regulation/steps/base.html.twig' %}

{% block steps %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.startPeriod, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
        {{ form_row(form.endPeriod, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
        {{ form_row(form.save, {row_attr: {class: 'fr-mt-2w'}, attr: {class: 'fr-btn'}})}}
    {{ form_end(form) }}
    <a href="{{ path('app_regulations_list') }}">
        {{ "common.cancel"|trans }}
    </a>
{% endblock %}
