{% extends 'regulation/steps/base.html.twig' %}

{% block title %}
    {{ 'regulation.stepper.steps'|trans({"%step%": 3}) }} - {{ parent() }}
{% endblock %}

{% block step_body %}
    <h3 class="fr-text--md fr-mb-0">
        {{ 'regulation.step3.subtitle'|trans }}
    </h3>

    <p class="fr-hint-text fr-text--sm">
        {{ 'regulation.step3.help'|trans }}
    </p>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="fr-grid-row fr-mb-3w">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom fr-col-12 fr-col-md-9 fr-col-lg-6">
                {{ form_row(form.startDate, {group_class: 'fr-input-group', row_attr: {class: 'fr-col-12 fr-col-sm-7 fr-mb-0'}, widget_class: 'fr-input'}) }}
                {{ form_row(form.startTime, {group_class: 'fr-input-group', row_attr: {class: 'fr-col-12 fr-col-sm-5'}, widget_class: 'fr-input'}) }}
            </div>
        </div>

        <div class="fr-grid-row fr-mb-3w">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom fr-col-12 fr-col-md-9 fr-col-lg-6">
                {{ form_row(form.endDate, {group_class: 'fr-input-group', row_attr: {class: 'fr-col-12 fr-col-sm-7 fr-mb-0'}, widget_class: 'fr-input'}) }}
                {{ form_row(form.endTime, {group_class: 'fr-input-group', row_attr: {class: 'fr-col-12 fr-col-sm-5'}, widget_class: 'fr-input'}) }}
            </div>
        </div>

        <a href="{{ path('app_regulations_steps_2', {uuid}) }}" class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line fr-mr-3w">
            {{ "common.back"|trans }}
        </a>
        {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn--icon-right fr-icon-arrow-right-line'}}) }}
    {{ form_end(form) }}
{% endblock %}
