{% extends 'regulation/steps/base.html.twig' %}

{% block title %}
    {{ 'regulation.stepper.steps'|trans({"%step%": 1}) }}
    -
    {{ parent() }}
{% endblock %}

{% block step_body %}
    {{ form_start(form) }}
    {{ form_row(form.identifier, {group_class: 'fr-input-group', widget_class: 'fr-input', label_content_attr: {class: 'fr-text--bold'}}) }}
    {{ form_row(form.organization, {group_class: 'fr-select-group', widget_class: 'fr-select'}) }}
    {{ form_row(form.description, {group_class: 'fr-input-group', attr: {class: 'fr-input'}, help_attr: {class: 'fr-hint-text'}}) }}
    {{ form_row(form.startDate, {group_class: 'fr-input-group', widget_class: 'fr-input', label_content_attr: {class: 'fr-text--bold'}}) }}
    {{ form_row(form.endDate, {group_class: 'fr-input-group', widget_class: 'fr-input', label_content_attr: {class: 'fr-text--bold'}}) }}

    <a href="{{ path('app_regulations_list') }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
        {{ "common.cancel"|trans }}
    </a>
    {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn--icon-right fr-icon-arrow-right-line'}}) }}
    {{ form_end(form) }}
{% endblock %}
