{% extends 'regulation/steps/base.html.twig' %}

{% block title %}
    {{ 'regulation.stepper.steps'|trans({"%step%": 2}) }} - {{ parent() }}
{% endblock %}

{% block step_body %}
    <h3 class="fr-text--md fr-mb-0">
        {{ 'regulation.step2.subtitle'|trans }}
    </h3>

    <p class="fr-hint-text fr-text--sm">
        {{'regulation.step2.help'|trans }}
    </p>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div data-controller="autocomplete" data-autocomplete-url-value="{{path('fragment_address_completion',{'type':'street'})}}" role="combobox">
        {{ form_row(
            form.address,
            {
                group_class: 'fr-input-group', 
                widget_class: 'fr-input',
                attr: {
                    'data-autocomplete-target':'input'
                }
            })
        }}
    <ul class="list-group" data-autocomplete-target="results"></ul>
    </div>
        {{ form_row(form.fromHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
        {{ form_row(form.toHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}

        <a href="{{ path('app_regulations_steps_1', {uuid}) }}" class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line fr-mr-3w">
            {{ "common.back"|trans }}
        </a>
        {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn--icon-right fr-icon-arrow-right-line'}}) }}

    {{ form_end(form) }}
{% endblock %}
