{% extends 'regulation/steps/base.html.twig' %}

{% block step_body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.description, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
        {{ form_row(form.issuingAuthority, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}

        <a href="{{ path('app_regulations_list') }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
            {{ "common.cancel"|trans }}
        </a>
        {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn--icon-right fr-icon-arrow-right-line'}}) }}
    {{ form_end(form) }}
{% endblock %}
