{% form_theme form _self %}
{% extends 'regulation/steps/base.html.twig' %}

{% block _step5_form_status_widget %}
    {%- for child in form %}
        <div class="fr-radio-group fr-mt-0 fr-radio-rich">
            {{ form_widget(child) }}
            <label class="fr-label" for="{{ child.vars.id }}">
                <b>{{ child.vars.label|trans }}</b>
                <span class="fr-hint-text">
                    {{ ('regulation.step5.' ~ child.vars.value ~ '.description')|trans }}
                </span>
            </label>
            <div class="fr-radio-rich__img">
                {% if child.vars.value == 'draft' %}
                    <span class="fr-icon-contrast-fill fr-icon--lg fr-m-3w" aria-hidden="true"></span>
                {% else %}
                    <span class="fr-icon-check-line fr-icon--lg fr-m-3w" aria-hidden="true"></span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block step_body %}
    {% include "regulation/_summary.html.twig" with { 'canEdit': true, regulationOrderRecord} only %}

    <h3 class="fr-mt-4w">{{ 'regulation.step5.and_now'|trans }}</h3>

    {{ form_start(form) }}
    <div class="fr-container--fluid">
        <div class="fr-grid-row">
            <div class="fr-form-group fr-col-12 fr-col-lg-6">
                <fieldset class="fr-fieldset">
                    <div class="fr-fieldset__content">
                        {{ form_widget(form.status) }}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <a href="{{ path('app_regulations_steps_4', {uuid}) }}" class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line fr-mr-3w">
        {{ "common.back"|trans }}
    </a>
    {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn--icon-right fr-icon-arrow-right-line'}}) }}
    {{ form_end(form) }}
{% endblock %}
