{% extends 'regulation/steps/base.html.twig' %}

{% block step_body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.startPeriod, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
        {{ form_row(form.endPeriod, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}

        <a href="{{ path('app_regulations_steps_2', {uuid}) }}" class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line fr-mr-3w">
            {{ "common.back"|trans }}
        </a>
        {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn--icon-right fr-icon-arrow-right-line'}}) }}
    {{ form_end(form) }}
{% endblock %}
