{% set mainPath = app.user ? 'app_regulations_list' : 'app_landing' %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% set _nonce = csp_nonce('script') %}
    {% set _nonce = csp_nonce('style') %}
    <meta name="csp-nonce" content="{{ _nonce }}">

    <link rel="apple-touch-icon" href="{{ asset('build/dsfr/favicon/apple-touch-icon.png') }}"><!-- 180×180 -->
    <link rel="icon" href="{{ asset('build/dsfr/favicon/favicon.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ asset('build/dsfr/favicon/favicon.ico') }}" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="{{ asset('build/dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials">

    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="module" src="{{ asset('build/dsfr/dsfr.module.min.js') }}" defer></script>
        <script type="text/javascript" nomodule src="{{ asset('build/dsfr/dsfr.nomodule.min.js') }}" defer></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %}

    <main id="contenu" class="{% block page_class %}{% endblock page_class %}">
        <noscript>
            <section class="fr-container fr-mt-3w">
                <div class="fr-alert fr-alert--info">
                    {{ 'common.javascript_required'|trans|raw }}
                </div>
            </section>
        </noscript>
        {% for label, messages in app.flashes %}
            {% if loop.first %}<div class="fr-container fr-pt-4w">{% endif %}
            {% for message in messages %}
                <div class="fr-alert fr-alert--{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
            {% if loop.last %}</div>{% endif %}
        {% endfor %}

        {% block body %}{% endblock %}
    </main>
    {% include 'common/footer.html.twig' %}

    {% block body_end %}{% endblock %}
  </body>
</html>
