<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" href="{{ asset('build/dsfr/favicon/apple-touch-icon.png') }}"><!-- 180×180 -->
    <link rel="icon" href="{{ asset('build/dsfr/favicon/favicon.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ asset('build/dsfr/favicon/favicon.ico') }}" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="{{ asset('build/dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials">

    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="module" src="{{ asset('build/dsfr/dsfr.module.min.js') }}" defer></script>
        <script type="text/javascript" nomodule src="{{ asset('build/dsfr/dsfr.nomodule.min.js') }}" defer></script>
        {{ encore_entry_script_tags('matomo') }}
    {% endblock %}
  </head>
  <body>

    {% set skipLinks = [
        {href: '#header-navigation', label: 'public.skiplinks.menu'|trans},
    ] %}

    {% include 'common/skiplinks.html.twig' with { skipLinks: [
        {href: '#content', label: 'common.skiplinks.content'|trans},
        ...(skipLinks|default([])),
        {href: '#footer', label: 'common.skiplinks.footer'|trans},
    ]} only %}

    {% embed 'common/header.html.twig' %}
        {% block navigation %}
            <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    {% if not app.user %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{{ path('app_landing') }}" {% if 'app_landing' == app.current_route %}aria-current="page"{% endif %}>
                                {{ 'landing.menu.button.home'|trans }}
                            </a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link fr-btn--icon-right fr-icon-road-map-line" href="{{ path('app_carto') }}" {% if 'app_carto' == app.current_route %}aria-current="page"{% endif %}>
                                {{ 'landing.menu.button.map'|trans }}
                            </a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link fr-btn--icon-right fr-icon-alarm-warning-line" href="{{ path('app_regulations_list') }}" {% if 'app_regulations_list' == app.current_route %}aria-current="page"{% endif %}>
                                {{ 'landing.menu.button.regulations'|trans }}
                            </a>
                        </li>

                    {% else %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link fr-btn--icon-right fr-icon-alarm-warning-line" href="{{ path('app_regulations_list') }}" {% if 'app_regulations_list' == app.current_route %}aria-current="page"{% endif %}>
                                {{ 'landing.menu.button.regulations'|trans }}
                            </a>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link fr-btn--icon-right fr-icon-road-map-line" href="{{ path('app_carto') }}" {% if 'app_carto' == app.current_route %}aria-current="page"{% endif %}>
                                {{ 'landing.menu.button.map'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="/blog/fr/" target="_blank">
                            {{ 'common.blog'|trans }}
                        </a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="https://fabrique-numerique.gitbook.io/doc.dialog.beta.gouv.fr" target="_blank">
                            {{ 'landing.menu.button.help'|trans }}
                        </a>
                    </li>
                </ul>
            </nav>
            {% if app.user and not app.user.isOrganizationsCompleted %}
                <div class="fr-notice fr-notice--warning" data-testid="notice-warning" data-controller="notice" data-notice-id-value="org-incomplete">
                    <div class="fr-container" data-testid="organization-not-completed">
                        <div class="fr-notice__body">
                            <p>
                                <span class="fr-notice__title">{{ 'notice.my.organizations.title'|trans }}</span>
                                <br>
                                <span class="fr-notice__desc">{{ 'notice.my.organizations.description'|trans }}</span>
                                <a title="{{ 'notice.my.organizations.link'|trans }}" href="{{ path('app_my_organizations') }}" target="_blank" rel="noopener external" class="fr-notice__link">{{ 'notice.my.organizations.link'|trans }}</a>
                            </p>
                            <button title="{{ 'notice.my.organizations.btn.close'|trans }}" data-action="notice#dismiss" type="button" class="fr-btn--close fr-btn">{{ 'notice.my.organizations.btn.close'|trans }}</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    <main class="{% block page_class %}{% endblock page_class %}">
        <noscript>
            <section class="fr-container fr-mt-3w">
                <div class="fr-alert fr-alert--info">
                    {{ 'common.javascript_required'|trans|raw }}
                </div>
            </section>
        </noscript>
        {% for label, messages in app.flashes %}
            {% if loop.first %}<div class="fr-container fr-pt-4w">{% endif %}
            {% for message in messages %}
                <div class="fr-alert fr-alert--{{ label }}" data-test-flash-type="{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
            {% if loop.last %}</div>{% endif %}
        {% endfor %}

        <div {% if not definesContentSkiplink|default(false) %}id="content"{% endif %}>
            {% block body %}{% endblock %}
        </div>
    </main>
    {% include 'common/footer.html.twig' %}

    {% block body_end %}{% endblock %}
  </body>
</html>
