{% extends 'layouts/_base.html.twig' %}

{% block header %}
    {% embed 'common/header.html.twig' %}
        {% block navigation %}
            <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ path('app_landing') }}" {% if 'app_landing' == app.current_route %}aria-current="page"{% endif %}>
                            {{ 'landing.menu.button.home'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="fr-nav__link" href="{{ path('app_landing_authorities') }}" {% if 'app_landing_authorities' == app.current_route %}aria-current="page"{% endif %}>
                            {{ 'landing.menu.button.authorities'|trans }}
                        </a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ path('app_landing_digital_services') }}" {% if 'app_landing_digital_services' == app.current_route %}aria-current="page"{% endif %}>
                            {{ 'landing.menu.button.digital_services'|trans }}
                        </a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ path('app_landing_road_users') }}" {% if 'app_landing_road_users' == app.current_route %}aria-current="page"{% endif %}>
                            {{ 'landing.menu.button.road_users'|trans }}
                        </a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="/blog/fr/" target="_blank">
                            {{ 'common.blog'|trans }}
                        </a>
                    </li>
                </ul>
            </nav>
        {% endblock %}
    {% endembed %}
{% endblock header %}
