<fieldset
    class="fr-fieldset fr-mt-3w fr-mb-0"
    aria-labelledby="{{ form.vars.id }}-namedStreet-fromPoint"
>
    <legend id="{{ form.vars.id }}-namedStreet-fromPoint" class="fr-fieldset__legend">
        {{ 'regulation.location.named_street.from_point'|trans }}
    </legend>

    <div
        class="fr-fieldset__element fr-grid-row fr-grid-row--gutters fr-mb-0"
        data-controller="form-reveal"
    >
        {{ form_row(form.namedStreet.fromPointType, {
            group_class: 'fr-select-group',
            widget_class: 'fr-select',
            row_attr: {
                class: 'fr-col-12 fr-col-sm-6 fr-mb-0',
            },
            attr: {
                'data-action': 'change->form-reveal#openByValue reset:reset->form-reveal#openByValue',
                'data-reset-target': 'element',
                'data-reset-keys': ['city']|json_encode,
            },
        }) }}

        {{ form_row(form.namedStreet.fromHouseNumber, {
            group_class: 'fr-input-group',
            widget_class: 'fr-input',
            row_attr: {
                class: 'fr-col-12 fr-col-sm-6 fr-mb-0',
                'data-form-reveal-target': 'section',
                'data-value': 'houseNumber',
                'hidden': form.namedStreet.fromPointType.vars.value != 'houseNumber',
            },
            attr: {
                'data-form-reveal-target': 'formControl',
                'data-value': 'houseNumber',
                'data-reset-target': 'element',
                'data-reset-keys': ['city', 'roadName']|json_encode,
                'disabled': form.namedStreet.fromPointType.vars.value != 'houseNumber',
            },
        }) }}

        <div
            class="fr-col-12 fr-col-sm-6 fr-mb-0"
            data-form-reveal-target="section"
            data-value="intersection"
            {% if form.namedStreet.fromPointType.vars.value != 'intersection' %}hidden{% endif %}
        >
            {{ form_row(form.namedStreet.fromRoadBanId, {
                attr: {
                    'data-form-reveal-target': 'formControl',
                    'data-value': 'intersection',
                    'disabled': form.namedStreet.fromPointType.vars.value != 'intersection',
                }
            }) }}

            {{ form_row(form.namedStreet.fromRoadName, {
                attr: {
                    class: 'fr-select',
                    'data-form-reveal-target': 'formControl',
                    'data-value': 'intersection',
                    'data-reset-target': 'element',
                    'data-reset-keys': ['city', 'roadName']|json_encode,
                    'disabled': form.namedStreet.fromPointType.vars.value != 'intersection',
                },
            }) }}
        </div>
    </div>
</fieldset>
