
<fieldset
    class="fr-fieldset fr-mt-3w fr-mb-0"
    aria-labelledby="{{ form.vars.id }}-namedStreet-toPoint"
>
    <legend id="{{ form.vars.id }}-namedStreet-toPoint" class="fr-fieldset__legend">
        {{ 'regulation.location.named_street.to_point'|trans }}
    </legend>

    <div
        class="fr-fieldset__element fr-grid-row fr-grid-row--gutters fr-mb-0"
        data-controller="form-reveal"
    >
        {{ form_row(form.namedStreet.toPointType, {
            group_class: 'fr-select-group',
            widget_class: 'fr-select',
            row_attr: {
                class: 'fr-col-12 fr-col-sm-6 fr-mb-0',
            },
            attr: {
                'data-action': 'change->form-reveal#openByValue reset:reset->form-reveal#openByValue',
                'data-reset-target': 'element',
                'data-reset-keys': ['city', 'roadName']|json_encode,
            },
        }) }}

        {{ form_row(form.namedStreet.toHouseNumber, {
            group_class: 'fr-input-group',
            widget_class: 'fr-input',
            row_attr: {
                class: 'fr-col-12 fr-col-sm-6 fr-mb-0',
                'data-form-reveal-target': 'section',
                'data-value': 'houseNumber',
                'hidden': form.namedStreet.toPointType.vars.value != 'houseNumber',
            },
            attr: {
                'data-form-reveal-target': 'formControl',
                'data-value': 'houseNumber',
                'data-reset-target': 'element',
                'data-reset-keys': ['city', 'roadName']|json_encode,
                'disabled': form.namedStreet.toPointType.vars.value != 'houseNumber',
            },
        }) }}

        <div
            id="autocomplete-{{ form.namedStreet.toRoadName.vars.id }}"
            class="fr-x-autocomplete-wrapper fr-col-12 fr-col-sm-6 fr-mb-0"
            data-form-reveal-target="section"
            data-value="intersection"
            {% if form.namedStreet.toPointType.vars.value != 'intersection' %}hidden{% endif %}
            data-controller="autocomplete"
            data-autocomplete-url-value="{{ path('fragment_intersection_completion') }}"
            data-autocomplete-query-param-value="search"
            data-autocomplete-extra-query-params-value="{{ {
                roadName: '#' ~ form.namedStreet.roadName.vars.id,
                cityCode: '#' ~ form.namedStreet.cityCode.vars.id,
            }|json_encode }}"
            data-autocomplete-required-params-value="{{ ['roadName', 'cityCode']|json_encode }}"
            data-autocomplete-min-length-value="3"
            data-autocomplete-delay-value="500"
            data-autocomplete-loading-status-value="{{ 'common.autocomplete.status.loading'|trans }}"
            data-autocomplete-empty-status-value="{{ 'common.autocomplete.status.min_chars'|trans({ '%minChars%': 3 }) }}"
            data-autocomplete-prefetch-value="true"
            data-autocomplete-fetch-empty-value="true"
        >
            {{ form_row(form.namedStreet.toRoadName, {
                group_class: 'fr-input-group',
                widget_class: 'fr-input',
                row_attr: {
                    class: 'fr-mb-0',
                },
                attr: {
                    'data-autocomplete-target': 'input',
                    'data-form-reveal-target': 'formControl',
                    'data-value': 'intersection',
                    'data-reset-target': 'element',
                    'data-reset-keys': ['city', 'roadName']|json_encode,
                    'data-action': 'reset:reset->autocomplete#reset',
                    'disabled': form.namedStreet.toPointType.vars.value != 'intersection',
                },
            }) }}

            <ul
                id="{{ form.namedStreet.toRoadName.vars.id }}-results"
                role="listbox"
                aria-label="{{ 'regulation.location.named_street.intersection.results_label'|trans }}"
                class="fr-x-autocomplete"
                data-autocomplete-target="results"
            >
                <li role="status" data-autocomplete-target="status"></li>
            </ul>
        </div>
    </div>
</fieldset>
