{% extends 'layouts/layout.html.twig' %}
{% set metaTitle = 'signing_authority.form.title'|trans %}
{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: metaTitle },
                ]} %}
                <div class="fr-grid-row fr-x-gap-2w" data-testid="signing_authority">
                    <div class="fr-x-grow-32w">
                        <h2 class="fr-mb-0">{{ metaTitle }}</h2>
                        <p class="fr-my-2w fr-text--sm fr-message--info">
                           {{ 'signing_authority.help'|trans }}
                        </p>
                        <ul>
                            <li><b>{{ 'signing_authority.name'|trans }}</b> : {{ signingAuthority.name|default('N/D') }}</li>
                            <li><b>{{ 'signing_authority.address'|trans }}</b> : {{ signingAuthority.roadName|default('N/D') }} {{ signingAuthority.cityCode|default('N/D') }}
                            {{ signingAuthority.cityLabel|default('N/D') }}</li>
                            <li><b>{{ 'signing_authority.placeOfSignature'|trans }}</b> : {{ signingAuthority.placeOfSignature|default('N/D') }}</li>
                            <li><b>{{ 'signing_authority.signatoryName'|trans }}</b>  : {{ signingAuthority.signatoryName|default('N/D') }}</li>
                        </ul>
                    </div>
                    <div class="fr-mb-3w">
                        {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                            <a href="{{ path('app_config_signing_authority_edit', { uuid: organization.uuid }) }}" class="fr-ml-auto fr-btn fr-btn--secondary fr-x-btn-sm--icon-left fr-icon-edit-line" title="{{ 'common.update'|trans }}">
                                {{ 'common.update'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
