{% set routeName = app.request.get('_route') %}

<nav class="fr-sidemenu" role="navigation" aria-labelledby="sidemenu-title">
    <div class="fr-sidemenu__inner">
        <button class="fr-sidemenu__btn" aria-controls="sidemenu" aria-expanded="false">{{ organization.name }}</button>
        <div class="fr-collapse" id="sidemenu">
            <p class="fr-sidemenu__title" id="sidemenu-title">{{ organization.name }}</p>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item {% if 'app_config_organization' in routeName %}fr-sidemenu__item--active{% endif %}">
                    <a class="fr-sidemenu__link" href="{{ path('app_config_organization_detail', { uuid: organization.uuid }) }}" {% if 'app_config_organization' in routeName %}aria-current="page"{% endif%}>
                        {{ 'config.menu.organization'|trans }}
                    </a>
                </li>
                <li class="fr-sidemenu__item {% if 'app_users' in routeName %}fr-sidemenu__item--active{% endif %}">
                    <a class="fr-sidemenu__link" href="{{ path('app_users_list', { uuid: organization.uuid }) }}" {% if 'app_users' in routeName %}aria-current="page"{% endif%}>
                        {{ 'config.menu.users'|trans }}
                    </a>
                </li>
                <li class="fr-sidemenu__item">
                    <button class="fr-sidemenu__btn" aria-expanded="{{ 'app_config_visa' in routeName or 'app_config_organization_edit_logo' in routeName or 'app_config_signing_authority' in routeName ? 'true' : 'false' }}" aria-controls="sidemenu-config">{{ 'config.menu.regulations'|trans }}</button>
                    <div class="fr-collapse" id="sidemenu-config">
                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="{{ path('app_config_visa_models_list', { uuid: organization.uuid }) }}" aria-current="{{ 'app_config_visa_models' in routeName  ? 'true' : 'false' }}">
                                    {{ 'config.menu.visas'|trans }}
                                </a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="{{ path('app_config_signing_authority_detail', {uuid: organization.uuid}) }}" aria-current="{{ 'app_config_signing_authority' in routeName  ? 'true' : 'false' }}">
                                    {{ 'config.menu.authority'|trans }}
                                </a>
                            </li>
                            {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                                <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="{{ path('app_config_organization_edit_logo', {uuid: organization.uuid}) }}" aria-current="{{ 'app_config_organization_edit_logo' in routeName  ? 'true' : 'false' }}">
                                        {{ 'config.menu.logo'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
