{% extends 'layouts/layout.html.twig' %}
{% set metaTitle = 'config.menu.organization.edit'|trans %}
{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_config_organization_detail', { uuid: organization.uuid }), generatedPath: true },
                    { title: metaTitle },
                ]} %}
                <h2 class="fr-mb-0">{{ metaTitle }}</h2>
                <p class="fr-text--sm fr-x-text--uppercase">{{ organization.name }}</p>
                {{ form_start(form) }}
                    {{ form_row(form.name, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {{ form_row(form.siret, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
