{% extends 'layouts/layout.html.twig' %}

{% set metaTitle = 'organization.logo'|trans %}
{% set deleteCsrfToken = csrf_token('delete-logo') %}

{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_config_organization_detail', {uuid: organization.uuid}), generatedPath: true },
                    { title: metaTitle },
                ]} %}
                <h2>{{ metaTitle }}</h2>
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--end">
                    <div class="fr-col-12 fr-col-md-6">
                        <p class="fr-text--sm">{{ 'organization.logo.description'|trans }}</p>
                        {{ form_start(form, { attr: { 'data-controller': 'form-submit' }}) }}
                            <div class="fr-p-3w app-frame app-frame--16-9">
                                <img src="{{ logo ?: asset('images/placeholder-16x9.png')}}" alt="{{ metaTitle }}"/>
                            </div>
                            {{ form_row(form.file, {
                                attr: {
                                    'data-action': 'change->form-submit#submit',
                                },
                                file_button_enabled: true,
                                file_button_label: (logo ? 'organization.logo.update' : 'organization.logo.add')|trans,
                                file_button_icon: 'fr-icon-upload-fill',
                            }) }}
                        {{ form_end(form) }}
                        {% if logo %}
                            <form method="delete" action="{{ path('app_config_organization_delete_logo', { uuid: organization.uuid }) }}">
                                <button class="fr-mt-2w fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-delete-bin-line">
                                    {{ 'organization.logo.delete'|trans }}
                                </button>
                                <input type="hidden" name="_token" value="{{ deleteCsrfToken }}" />
                            </form>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6 fr-pl-md-3w">
                        <figure>
                            {% set imageTitle = 'organization.form.image_description'|trans %}
                            <figcaption class="fr-mb-1w fr-text--xs">{{ imageTitle }}</figcaption>
                            <img
                                class="fr-background-alt--grey fr-p-3w"
                                src="{{ asset('images/placeholder-logo.svg') }}"
                                alt="{{ imageTitle }}"
                                width="350"
                            />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
