{#
This custom theme tweaks the default Symfony form theme with DSFR specifics.
https://github.com/symfony/symfony/blob/6.3/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
#}
{% use "form_div_layout.html.twig" %}

{% block form_row %}
  {%- set widget_attr = {} -%}
  {%- if errors|length > 0 -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_error"}} -%}
    {%- if group_class is defined -%}
      {# DSFR generally uses e.g. "fr-input-group fr-input-group--error" #}
      {%- set group_class = group_class ~ ' ' ~ (group_error_class|default(group_class ~'--error')) -%}
    {%- endif -%}
  {%- elseif help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}

  {%- set row_class = (group_class|default('') ~ ' ' ~ row_attr.class|default(''))|trim -%}

  {% if widget is defined and widget == 'choice' %}
    {% set row_class = row_class ~ ' fr-x-container--fluid' %}
    <fieldset {% with {attr: row_attr|merge({class: row_class, 'aria-labelledby': id ~ '-legend'} )} %} {{ block('attributes') }} {% endwith %}>
      {{ form_label(form, null, {
        element: 'legend',
        label_attr: { id: id ~ '-legend', class: 'fr-grid-row' },
      }) }}
      {{ form_widget(form, widget_attr) }}
    </fieldset>
  {% else %}
    {%- set isCheckbox = 'checkbox' in block_prefixes -%}

    <div {% with {attr: row_attr|merge({class: row_class} )} %} {{ block('attributes') }} {% endwith %}>
      {%- if not isCheckbox -%}
        {{- form_label(form) -}}
      {%- endif -%}

      {%- if widget_suffix is defined -%}
        <div class="fr-input-wrap app-widget--suffix">
          {{- form_widget(form, widget_attr) -}}
          {{- widget_suffix -}}
        </div>
      {%- else -%}
          {{- form_widget(form, widget_attr) -}}
      {%- endif -%}

      {%- if isCheckbox -%}
        {{- form_label(form) -}}
      {%- endif -%}

      {{- form_errors(form) -}}
    </div>
  {% endif %}
{% endblock form_row %}

{% block password_row %}
    <div class="fr-password" id="{{ form.vars.id }}">
        {{ form_label(form)}}
        <div class="fr-input-wrap">
            {{ form_widget(form, { attr: {class: 'fr-password__input fr-input'} }) }}
        </div>
        <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
            <input aria-label="{{ 'accessRequest.displayPassword'|trans }}" id="{{ form.vars.id }}-show" type="checkbox" aria-describedby="{{ form.vars.id }}-show-messages">
            <label class="fr-password__checkbox fr-label" for="{{ form.vars.id }}-show">{{ 'accessRequest.displayPassword'|trans }}</label>
            <div class="fr-messages-group" id="{{ form.vars.id }}-show-messages" aria-live="assertive"></div>
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block time_widget %}
  {% if widget == 'choice' %}
    <div class="fr-grid-row fr-grid-row--gutters">
      <span class="fr-col">
        <label class="app-sr-only" for="{{ form.hour.vars.id }}">{{ 'common.form.time.hour'|trans }}</label>
        {{ form_widget(form.hour, { attr: {class: 'fr-select', 'data-testid': 'start'} }) }}
      </span>
      <span class="fr-col">
        <label class="app-sr-only" for="{{ form.minute.vars.id }}">{{ 'common.form.time.minute'|trans }}</label>
        {{ form_widget(form.minute, { attr: {class: 'fr-select', 'data-testid': 'end'} }) }}
      </span>
      {{ form_errors(form) }}
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock time_widget %}

{% block form_label %}
  {% if element|default('label') == 'label' %}
    {%- set label_class = (label_attr.class|default('') ~ ' fr-label')|trim -%}
    {%- set label_attr = label_attr|merge({class: label_class}) -%}
  {% endif %}
  {{ parent() }}
{% endblock %}

{% block form_label_content %}
  {%- set label_content_attr = label_content_attr|default({})|merge({class: label_content_attr.class|default('') ~ ' fr-x-label-content'}) -%}
  <span {% with {attr: label_content_attr} %}{{ block('attributes')}}{% endwith %}>
    {{ parent() }}
  </span>
  {{- form_help(form) -}}
{% endblock %}

{% block form_help %}
  {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' fr-hint-text')}) -%}
  {{ parent() }}
{% endblock %}

{% block form_widget_simple %}
  {%- if errors|length > 0 -%}
    {%- if widget_class is defined -%}
      {# DSFR generally uses e.g. "fr-input fr-input--error" #}
      {%- set widget_class = widget_class ~ ' ' ~ (widget_error_class|default(widget_class ~'--error')) -%}
    {%- endif -%}
  {%- endif -%}

  {%- set widget_class = (widget_class|default('') ~ ' ' ~ attr.class|default(''))|trim -%}
  {%- set attr = attr|merge({class: widget_class}) -%}

  {{ parent() }}
{% endblock %}

{% block date_widget %}
  {% set attr = attr|merge({'data-controller': ('datepicker-toggle ' ~ attr['data-controller']|default(''))|trim}) %}
  {%- if widget == 'single_text' -%}
    <div class="fr-input-wrap fr-fi-calendar-line">
      {{ parent() }}
    </div>
  {%- else -%}
    {{ parent() }}
  {%- endif -%}
{% endblock date_widget %}

{% block form_errors %}
  {% if errors|length > 0 %}
    <div class="fr-messages-group" id="{{ id }}_error" aria-live="polite">
      {%- for error in errors -%}
        <p class="fr-message fr-message--error">
          {{ error.message }}
        </p>
      {%- endfor -%}
    </div>
  {% endif %}
{% endblock form_errors %}

{% block choice_widget %}
  {%- set widget_class = (widget_class|default('') ~ ' ' ~ attr.class|default(''))|trim -%}
  {%- set attr = attr|merge({class: widget_class}) -%}
  {{ parent() }}
{% endblock choice_widget %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="fr-fieldset__element">
                <div class="fr-checkbox-group">
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </div>
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}
