<turbo-frame id="block_general_info">
    <div class="app-card app-card--raised" data-testid="general_info">
        <div class="app-card__header">
            <span class="app-card__img fr-icon-article-line fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
            <h3 class="app-card__title fr-h4 fr-mb-0">
                {{ generalInfo.title|u.truncate(152, '...', false) }}
            </h3>
        </div>
        <div class="app-card__content" style="--card-content-margin-desktop: var(--6w)">
            <ul class="fr-raw-list d-stack fr-my-0" style="--stack-gap: var(--1w)">
                <li class="fr-grid-row fr-x-gap-1w fr-icon-barcode-box-line fr-x-icon--dark-border">
                    <span class="fr-x-grow fr-mb-1w"><span class="fr-text--bold">Identifiant de l'arrêté :</span> {{ generalInfo.identifier }}</span>
                </li>

                <li class="fr-grid-row fr-x-gap-1w fr-icon-government-line fr-x-icon--dark-border">
                    <span class="fr-x-grow fr-mb-1w"><span class="fr-text--bold">Organisation :</span> {{ generalInfo.organizationName }}</span>
                </li>

                {% if generalInfo.subject %}
                    <li class="fr-grid-row fr-x-gap-1w fr-icon-alert-warning-2-fill fr-x-icon--dark-border">
                        <span class="fr-x-grow fr-mb-1w"><span class="fr-text--bold">Type de réglementation :</span> 
                            {% if generalInfo.subject == 'other' %}
                                {{ 'regulation.subject.other'|trans }} : {{ generalInfo.otherCategoryText }}
                            {% else %}
                                {{ ('regulation.subject.' ~ generalInfo.subject)|trans }}
                            {% endif %}
                        </span>
                    </li>
                {% endif %}

                <li class="fr-grid-row fr-x-gap-1w fr-icon-alarm-warning-line fr-x-icon--dark-border">
                    <span class="fr-x-grow fr-mb-1w"><span class="fr-text--bold">Objet de l'arrêté :</span> {{ generalInfo.title }}</span>
                </li>
            </ul>
        </div>

        {% if canEdit %}
            <ul class="app-card__actions">
                <li>
                    <form method="GET" action="{{ path('fragment_regulations_general_info_form', { uuid: generalInfo.uuid }) }}">
                        <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-edit-line">
                            {{ 'common.update'|trans }}
                        </button>
                    </form>
                </li>
            </ul>
        {% endif %}
    </div>
</turbo-frame>
