<turbo-frame id="block_general_info">
    <div class="app-card app-card--raised" data-testid="general_info">
        <div class="app-card__header">
            <span class="app-card__img fr-icon-article-line fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
            <h3 class="app-card__title fr-h4 fr-mb-0">
                {{ generalInfo.description|u.truncate(36, '...', false) }}
            </h3>
        </div>
        <div class="app-card__content" style="--card-content-margin-desktop: var(--6w)">
            <ul class="fr-ml-1w fr-my-0 fr-list">
                <li>{{ generalInfo.organizationName }}</li>
                <li>
                    {% if generalInfo.category == 'other' %}
                        {{ 'regulation.category.other'|trans }} : {{ generalInfo.otherCategoryText }}
                    {% else %}
                        {{ ('regulation.category.' ~ generalInfo.category)|trans }}
                    {% endif %}
                </li>
                <li>{{ generalInfo.description }}</li>
                <li>
                    {% include 'regulation/_overall_period.html.twig' with { generalInfo } only %}
                </li>
            </ul>
        </div>

        {% if canEdit %}
            <ul class="app-card__actions">
                <li>
                    <form method="GET" action="{{ path('fragment_regulations_general_info_form', { uuid: generalInfo.uuid }) }}">
                        <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-edit-line">
                            {{ 'common.update'|trans }}
                        </button>
                    </form>
                </li>
            </ul>
        {% endif %}
    </div>
</turbo-frame>
