{% set frame = location ? "block_location_" ~ location.uuid : 'block_location' %}
{% set cancelUrl = location
    ? path('fragment_regulations_location', {regulationOrderUuid: regulationOrderRecord.uuid, uuid: location.uuid})
    : path('app_regulation_detail', {uuid: regulationOrderRecord.uuid})
%}
<turbo-frame id="{{ frame }}">
    <div class="app-card fr-mt-3w">
        <div class="app-card__icon">
            <span class="fr-icon-map-pin-2-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
        </div>

        <div class="app-card__content">
            <h3 class="fr-h4">
                {{ location ? location.address.roadName : 'regulation.location'|trans }}
            </h3>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.address, {
                    group_class: 'fr-input-group',
                    widget_class: 'fr-input',
                    autocomplete: true,
                    autocomplete_url: path('fragment_address_completion'),
                    autocomplete_results_label: 'regulation.location.address.results_label'|trans,
                }) }}
                {{ form_row(form.fromHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}
                {{ form_row(form.toHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input'}) }}

                <a href="{{ cancelUrl }}" {% if not location %} data-turbo-frame="_top" {% endif %} class="fr-btn fr-btn--tertiary fr-mr-3w">{{ "common.cancel"|trans }}</a>
                {{ form_widget(form.save, {attr: {class: 'fr-btn'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</turbo-frame>
