{% set frame = location ? "block_location_" ~ location.uuid : 'block_location' %}
{% set cancelUrl = location
    ? path('fragment_regulations_location', {regulationOrderRecordUuid: regulationOrderRecord.uuid, uuid: location.uuid})
    : path('fragment_regulation_location_add_link', {regulationOrderRecordUuid: regulationOrderRecord.uuid})
%}

{% macro periods_list_item(form, index) %}
    <li
        class="app-card app-card--no-header"
        data-controller="remove"
        data-remove-target="this"
        data-form-collection-target="collectionItem"
    >
        <div class="app-card__content">
            <fieldset class="fr-fieldset app-card__content" aria-labelledby="applicableDays-{{ index }}-legend">
                {{ form_label(form.applicableDays, null, {
                    element: 'legend',
                    label_attr: {
                        id: form.applicableDays.vars.name ~ '-legend',
                        class: 'fr-fieldset__legend fr-fieldset__legend--regular',
                    }
                }) }}
                <div class="fr-fieldset__item">
                    {% for day in form.applicableDays %}
                        {% set dayBtnId = day.vars.id ~ '-btn' %}
                        {% set isChecked = day.vars.value in form.applicableDays.vars.value ? "true" : "false" %}
                        <label for="{{ dayBtnId }}" data-controller="chip-button">
                            <button
                                id="{{ dayBtnId }}"
                                type="button"
                                class="fr-tag fr-mb-1w"
                                aria-pressed="{{ isChecked }}"
                                data-chip-button-target="button"
                            >
                                {{ ('regulation.period.days.' ~ day.vars.value)|trans }}
                                {{ form_widget(day, { attr: { hidden: true, 'data-chip-button-target': 'checkbox' } }) }}
                            </button>
                        </label>
                    {% endfor %}
                    {{ form_errors(form.applicableDays) }}
                </div>
            </fieldset>
            <div class="fr-toggle">
                {{ form_widget(form.includeHolidays, { attr: {class: 'fr-toggle__input'}}) }}
                {{ form_label(form.includeHolidays, null, { label_attr: {
                    'class': 'fr-toggle__label',
                    'data-fr-checked-label': 'common.enabled'|trans,
                    'data-fr-unchecked-label': 'common.disabled'|trans
                }}) }}
                {{ form_errors(form.includeHolidays) }}
            </div>
            <div class="fr-container--fluid">
                <div class="fr-grid-row fr-grid-row--gutters ">
                    {{ form_row(form.startTime, {group_class: 'fr-input-group', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-lg-4'}, attr: {class: 'fr-input'}}) }}
                    {{ form_row(form.endTime, {group_class: 'fr-input-group', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-lg-4'}, attr: {class: 'fr-input'}}) }}
                </div>
            </div>
        </div>
        <div class="app-card__actions">
            <button
                type="button"
                aria-label="{{ 'common.delete'|trans }}"
                class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-delete-bin-line"
                data-action="remove#removeElement"
            />
        </div>
    </li>
{% endmacro %}

{% macro measures_list_item(form, index, position) %}
    <li
        class="app-card fr-p-3w"
        data-controller="remove"
        data-remove-target="this"
        data-form-collection-target="collectionItem"
    >
        <div class="app-card__header">
            <div class="app-card__title">
                <h4 class="fr-h6 fr-mb-0" data-form-collection-position-template="{{ 'regulation.measure'|trans }}">
                    {{ 'regulation.measure'|trans }} {{ position }}
                </h4>
                <p class="fr-text-sm fr-text-mention--grey fr-m-0">
                    {{ 'regulation.measure_list_item.help'|trans }}
                </p>
            </div>
        </div>

        <div class="app-card__actions">
            <button
                type="button"
                class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-delete-bin-line"
                data-action="remove#removeElement"
            >
                {{ 'common.delete'|trans }}
            </button>
        </div>

        <div class="app-card__content">
            {{ form_row(form.type, { group_class: 'fr-select-group', widget_class: 'fr-select' }) }}

            {% include 'regulation/_vehicle_set_form.html.twig' with { form: form.vehicleSet, index } only %}

            <fieldset
                class="fr-fieldset"
                aria-labelledby="periods-legend-{{ index }}"
                data-controller="form-collection"
                data-form-collection-prototype-key-value="period"
                data-form-collection-next-index-value="{{ form.periods|length > 0 ? form.periods|last.vars.name + 1 : 0 }}"
                data-form-collection-prototype-value="{{ _self.periods_list_item(form.periods.vars.prototype, '__period_name__')|e('html_attr') }}"
            >
                {{ form_label(form.periods, null, { element: 'legend', required: false, label_attr: { id: 'periods-legend-' ~ index, class: 'fr-fieldset__legend' } }) }}
                <ul
                    id="period-list"
                    class="fr-raw-list fr-mb-2w"
                    data-testid="period-list"
                    data-form-collection-target="collectionContainer"
                    aria-label="{{ form.periods.vars.label|trans }}"
                >
                    {% for item in form.periods %}
                        {{ _self.periods_list_item(item, loop.index) }}
                    {% else %}
                        {% do form.periods.setRendered %}
                    {% endfor %}
                </ul>

                <button
                    type="button"
                    class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-calendar-line"
                    data-action="form-collection#addCollectionElement"
                    aria-controls="period-list"
                >
                    {{ 'regulation.period.add'|trans }}
                </button>
            </fieldset>
        </div>
    </li>
{% endmacro %}

<turbo-frame id="{{ frame }}">
    <div class="app-card app-card--raised fr-mt-3w">
        <div class="app-card__header">
            <span class="app-card__img fr-icon-map-pin-2-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
            <h3 class="app-card__title fr-h4 fr-mb-0">
                {{ location ? location.address.roadName : 'regulation.location'|trans }}
            </h3>
        </div>
        <div class="app-card__content">
            {{ form_start(form, {attr: {id: 'location-form'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.address, {
                    group_class: 'fr-input-group',
                    widget_class: 'fr-input',
                    autocomplete: true,
                    autocomplete_controller_options: {
                        'data-autocomplete-url-value': path('fragment_address_completion'),
                        'data-autocomplete-min-length-value': 3,
                        'data-autocomplete-delay-value': 500,
                    },
                    autocomplete_results_label: 'regulation.location.address.results_label'|trans,
                }) }}
                <div class="fr-container--fluid">
                    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w fr-mb-md-0">
                        {{ form_row(form.fromHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-md-5 fr-col-lg-3'}}) }}
                        {{ form_row(form.toHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-md-5 fr-col-lg-3'}}) }}
                    </div>
                </div>

                <div
                    data-controller="form-collection"
                    data-form-collection-prototype-key-value="measure"
                    data-form-collection-next-index-value="{{ form.measures|length > 0 ? form.measures|last.vars.name + 1 : 0 }}"
                    data-form-collection-prototype-value="{{ _self.measures_list_item(form.measures.vars.prototype, '__measure_name__', '__measure_position__')|e('html_attr') }}"
                    class="fr-mb-4w"
                >
                    <ul
                        id="measure-list"
                        class="fr-raw-list fr-mb-2w"
                        data-testid="measure-list"
                        data-form-collection-target="collectionContainer"
                        data-action="remove:child-removed->form-collection#syncPositions"
                        aria-label="{{ form.measures.vars.label|trans }}"
                    >
                        {% for item in form.measures %}
                            {{ _self.measures_list_item(item, loop.index0, loop.index) }}
                        {% else %}
                            {% do form.measures.setRendered %}
                        {% endfor %}
                    </ul>
                    <button
                        type="button"
                        class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-add-line"
                        data-action="form-collection#addCollectionElement"
                        aria-controls="measure-list"
                    >
                        {{ 'regulation.measure.add'|trans }}
                    </button>
                    {{ form_errors(form.measures) }}
                </div>

                <ul class="fr-btns-group fr-btns-group--inline">
                    <li>
                        <a href="{{ cancelUrl }}" role="button" class="fr-btn fr-btn--tertiary">
                            {{ "common.cancel"|trans }}
                        </a>
                    </li>
                    <li>
                        {{ form_widget(form.save, {attr: {class: 'fr-btn', form: 'location-form'}}) }}
                    </li>
                </ul>
            {{ form_end(form) }}
        </div>
    </div>
</turbo-frame>
