{% set frame = location ? "block_location_" ~ location.uuid : 'block_location' %}
{% set cancelUrl = location
    ? path('fragment_regulations_location', {regulationOrderRecordUuid: regulationOrderRecord.uuid, uuid: location.uuid})
    : path('fragment_regulation_location_add_link', {regulationOrderRecordUuid: regulationOrderRecord.uuid})
%}

{% macro measures_list_item(form, index) %}
    <li class="app-list-item fr-p-3w">
        <h4 class="fr-h5 fr-mb-0">
            {{ 'regulation.measure_list_item.title'|trans({'%index%': index}) }}
        </h4>
        <p class="fr-text-sm fr-text-mention--grey">
            {{ 'regulation.measure_list_item.help'|trans }}
        </p>
        {{ form_row(form.type, { group_class: 'fr-select-group', widget_class: 'fr-select' }) }}
    </li>
{% endmacro %}

<turbo-frame id="{{ frame }}">
    <div class="app-card fr-mt-3w">
        <div class="app-card__icon">
            <span class="fr-icon-map-pin-2-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
        </div>

        <div class="app-card__content">
            <h3 class="fr-h4">
                {{ location ? location.address.roadName : 'regulation.location'|trans }}
            </h3>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.address, {
                    group_class: 'fr-input-group',
                    widget_class: 'fr-input',
                    autocomplete: true,
                    autocomplete_url: path('fragment_address_completion'),
                    autocomplete_results_label: 'regulation.location.address.results_label'|trans,
                }) }}
                <div class="fr-container--fluid">
                    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w fr-mb-md-0">
                        {{ form_row(form.fromHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-md-5 fr-col-lg-3'}}) }}
                        {{ form_row(form.toHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-md-5 fr-col-lg-3'}}) }}
                    </div>
                </div>

                <div
                    data-controller="form-collection"
                    data-form-collection-index-value="{{ form.measures|length > 0 ? form.measures|last.vars.name + 1 : 0 }}"
                    data-form-collection-prototype-value="{{ _self.measures_list_item(form.measures.vars.prototype, '__oneBasedIndex__')|e('html_attr') }}"
                    class="fr-mb-4w"
                >
                    <ul id="measure-list" class="fr-raw-list fr-mb-2w" data-form-collection-target="collectionContainer" aria-label="{{ form.measures.vars.label|trans }}">
                        {% for item in form.measures %}
                            {{ _self.measures_list_item(item, loop.index) }}
                        {% else %}
                            {% do form.measures.setRendered %}
                        {% endfor %}
                    </ul>
                    <button
                        type="button"
                        class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-add-line"
                        data-action="form-collection#addCollectionElement"
                        aria-controls="measure-list"
                    >
                        {{ 'regulation.measure.add'|trans }}
                    </button>
                </div>

                <a href="{{ cancelUrl }}" class="fr-btn fr-btn--tertiary fr-mr-3w">{{ "common.cancel"|trans }}</a>
                {{ form_widget(form.save, {attr: {class: 'fr-btn'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</turbo-frame>
