<turbo-frame id="block_location">
    {% set loc = regulationOrderRecord.location %}

    {% if loc is null %}
        <form method="get" action="{{ path('fragment_regulations_location_form', { uuid: regulationOrderRecord.uuid }) }}">
            <button type="submit" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line">
                Définir la localisation
            </button>
        </form>
    {% else %}
        <div class="app-card fr-mt-3w" data-testid="location">
            <div class="app-card__icon">
                <span class="fr-icon-map-pin-2-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
            </div>

            <div class="app-card__content">
                <h3 class="fr-h4">
                    {{ loc.address.roadName }}
                </h3>
                <ul class="fr-ml-1w fr-my-0">
                    <li>{{ loc.address.city }} ({{ loc.address.postCode }})</li>
                    <li>
                        {{ loc.address.roadName }}

                        {% if loc.fromHouseNumber and loc.toHouseNumber %}
                            - {{ 'regulation.location.house_number_from_to'|trans({ '%from%': loc.fromHouseNumber, '%to%': loc.toHouseNumber }) }}
                        {% elseif loc.fromHouseNumber %}
                            - {{ 'regulation.location.house_number_from'|trans({ '%from%': loc.fromHouseNumber }) }}
                        {% elseif loc.toHouseNumber %}
                            - {{ 'regulation.location.house_number_to'|trans({ '%to%': loc.toHouseNumber }) }}
                        {% endif %}
                    </li>
                    <li>{{ 'regulation.location.all_vehicles_forbidden'|trans }}</li>
                </ul>
            </div>

            {% if canEdit %}
                <ul class="app-card__actions">
                    <li>
                        <a href="{{ path('fragment_regulations_location_form', { uuid: regulationOrderRecord.uuid }) }}" class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-edit-line">
                            {{ 'common.update'|trans }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    {% endif %}
</turbo-frame>
