{% set frame = location ? "block_location_" ~ location.uuid : 'block_location' %}
{% set cancelUrl = location
    ? path('fragment_regulations_location', {regulationOrderRecordUuid: regulationOrderRecord.uuid, uuid: location.uuid})
    : path('fragment_regulation_location_add_link', {regulationOrderRecordUuid: regulationOrderRecord.uuid})
%}

{% macro measures_list_item(form, index) %}
    <li
        class="app-card fr-p-3w"
        data-controller="remove"
        data-remove-target="this"
        data-form-collection-target="collectionItem"
    >
        <div class="app-card__header">
            <div class="app-card__title">
                <h4 class="fr-h5 fr-mb-0" data-form-collection-indexed-template="{{ 'regulation.measure'|trans }} __\oneBasedIndex__">
                    {{ 'regulation.measure'|trans }} {{ index }}
                </h4>
                <p class="fr-text-sm fr-text-mention--grey fr-m-0">
                    {{ 'regulation.measure_list_item.help'|trans }}
                </p>
            </div>
        </div>
        <div class="app-card__content">
            {{ form_row(form.type, { group_class: 'fr-select-group', widget_class: 'fr-select' }) }}
        </div>
        <div class="app-card__actions">
            <button
                type="button"
                class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-delete-bin-line"
                data-action="remove#removeElement"
            >
                {{ 'common.delete'|trans }}
            </button>
        </div>
    </li>
{% endmacro %}

<turbo-frame id="{{ frame }}">
    <div class="app-card app-card--raised fr-mt-3w">
        <div class="app-card__header">
            <span class="app-card__img fr-icon-map-pin-2-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
            <h3 class="app-card__title fr-h4 fr-mb-0">
                {{ location ? location.address.roadName : 'regulation.location'|trans }}
            </h3>
        </div>
        <div class="app-card__content">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.address, {
                    group_class: 'fr-input-group',
                    widget_class: 'fr-input',
                    autocomplete: true,
                    autocomplete_url: path('fragment_address_completion'),
                    autocomplete_results_label: 'regulation.location.address.results_label'|trans,
                }) }}
                <div class="fr-container--fluid">
                    <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w fr-mb-md-0">
                        {{ form_row(form.fromHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-md-5 fr-col-lg-3'}}) }}
                        {{ form_row(form.toHouseNumber, {group_class: 'fr-input-group', widget_class: 'fr-input', row_attr: {class: 'fr-col-12 fr-col-sm-6 fr-col-md-5 fr-col-lg-3'}}) }}
                    </div>
                </div>

                <div
                    data-controller="form-collection"
                    data-form-collection-index-value="{{ form.measures|length > 0 ? form.measures|last.vars.name + 1 : 0 }}"
                    data-form-collection-prototype-value="{{ _self.measures_list_item(form.measures.vars.prototype, '__oneBasedIndex__')|e('html_attr') }}"
                    class="fr-mb-4w"
                >
                    <ul
                        id="measure-list"
                        class="fr-raw-list fr-mb-2w"
                        data-testid="measure-list"
                        data-form-collection-target="collectionContainer"
                        data-action="remove:child-removed->form-collection#syncIndices"
                        aria-label="{{ form.measures.vars.label|trans }}"
                    >
                        {% for item in form.measures %}
                            {{ _self.measures_list_item(item, loop.index) }}
                        {% else %}
                            {% do form.measures.setRendered %}
                        {% endfor %}
                    </ul>
                    <button
                        type="button"
                        class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-add-line"
                        data-action="form-collection#addCollectionElement"
                        aria-controls="measure-list"
                    >
                        {{ 'regulation.measure.add'|trans }}
                    </button>
                </div>

                <a href="{{ cancelUrl }}" class="fr-btn fr-btn--tertiary fr-mr-3w">{{ "common.cancel"|trans }}</a>
                {{ form_widget(form.save, {attr: {class: 'fr-btn'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
</turbo-frame>
