<form
    method="delete"
    action="{{ path('fragment_regulations_location_delete', { regulationOrderRecordUuid: regulationOrderRecord.uuid, uuid }) }}"
    data-controller="form-submit"
    data-form-submit-event-name-value="modal-trigger:submit"
>
    <button
        class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-delete-line"
        data-controller="modal-trigger"
        data-modal-trigger-modal-outlet="#location-delete-modal"
        data-modal-trigger-key-value="{{ uuid }}"
        data-action="modal-trigger#showModal:prevent"
        aria-controls="location-delete-modal"
        title="{{ 'common.delete'|trans }}"
    >
        {{ 'common.delete'|trans }}
    </button>
    <input type="hidden" name="token" value="{{ deleteCsrfToken }}" />
</form>
