{% set uuid = location.uuid %}
{% set deleteCsrfToken = csrf_token('delete-location') %}

<turbo-frame id="block_location_{{ uuid }}">
    <div class="app-card app-card--raised fr-mt-3w" data-testid="location">
        <div class="app-card__header">
            <span class="app-card__img fr-icon-map-pin-2-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
            <h3 class="app-card__title fr-h4 fr-mb-0">
                {{ location.roadName|default(location.cityLabel) }}
            </h3>
        </div>

        <div class="app-card__content">
            <ul class="fr-ml-1w fr-my-0 fr-list" data-testid="location-detail-items">
                <li>{{ location.cityLabel }}</li>
                {% if location.roadName %}
                    <li>
                        {{ location.roadName }}
                        {% include 'regulation/_location_house_numbers.html.twig' with { location } only %}
                    </li>
                {% endif %}
                {% for measure in location.measures %}
                    <li>
                        {% if measure.type == 'speedLimitation' %}
                            {{ 'regulation.measure.maxSpeed'|trans({ '%maxSpeed%': measure.maxSpeed }) }}
                        {% else %}
                            {{ ('regulation.measure.type.' ~ measure.type)|trans }}
                        {% endif %}

                        {% include 'regulation/_period.html.twig' with { periods: measure.periods } only %}
                        <br/>
                        {% include 'regulation/_vehicle_set.html.twig' with {
                            vehicleSet: measure.vehicleSet,
                        } only %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if generalInformation.isDraft %}
            <ul class="app-card__actions">
                <li>
                    <form method="GET" action="{{ path('fragment_regulations_location_update', { regulationOrderRecordUuid: generalInformation.uuid, uuid: location.uuid }) }}">
                        <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-edit-line fr-mt-2w fr-mt-md-0">
                            {{ 'common.update'|trans }}
                        </button>
                    </form>
                </li>
                {% if canDelete %}
                    <li id="location_{{ uuid }}_delete_button">
                        {% include 'regulation/fragments/_location_delete_form.html.twig' with { regulationOrderRecordUuid: generalInformation.uuid, uuid: location.uuid, deleteCsrfToken } only %}
                    </li>
                {% else %}
                    <li id="location_{{ uuid }}_delete_button" hidden></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</turbo-frame>
