{% set uuid = measure.uuid %}

<turbo-frame id="block_measure_{{ uuid }}">
    <div class="app-card app-card--raised app-card--with-background fr-mt-3w" data-testid="measure">
        <div class="app-card__header app-card__header--with-background">
            <span class="app-card__img fr-icon-x-restriction fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
            <h3 class="app-card__title fr-h4 fr-mb-0">
                {% if measure.type == 'speedLimitation' %}
                    {{ 'regulation.measure.maxSpeed'|trans({ '%maxSpeed%': measure.maxSpeed }) }}
                {% else %}
                    {{ ('regulation.measure.type.' ~ measure.type)|trans }}
                {% endif %}
            </h3>
        </div>
        <div class="app-card__content">
            <div class="fr-ml-1w fr-my-0 fr-list" data-testid="measure-detail-items">
                <ul>
                    <li class="fr-mb-2w">
                        <span class="app-card__img fr-icon-car-line fr-x-icon-decorative--blue-france" aria-hidden="true"></span>
                        {% include 'regulation/_vehicle_set.html.twig' with {
                            vehicleSet: measure.vehicleSet,
                        } only %}
                    </li>
                    <li class="fr-mb-2w">
                        <span class="app-card__img fr-icon-calendar-2-line fr-x-icon-decorative--blue-france" aria-hidden="true"></span>
                        {% include 'regulation/_period.html.twig' with { periods: measure.periods } only %}
                    </li>
                    <li>
                        <hr class="fr-mt-3w fr-mr-3w" />
                    </li>
                </ul>
                <ul class="fr-pb-3w">
                    {% for location in measure.locations %}
                        {% if location.roadName %}
                            <li>
                                <span class="app-card__img fr-icon-map-pin-2-line fr-x-icon-decorative--blue-france" aria-hidden="true"></span>
                                {{ location.roadName }}
                                {% include 'regulation/_location_house_numbers.html.twig' with { location } only %}
                                {{ location.cityLabel }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</turbo-frame>
