{% set uuid = measure.uuid %}
{% set deleteCsrfToken = csrf_token('delete-measure') %}

<turbo-frame id="block_measure_{{ uuid }}">
    <div class="app-card app-card--raised app-card--with-head-background fr-mt-3w" data-testid="measure">
        <div class="app-card__header">
            <span class="app-card__img fr-icon-x-restriction fr-x-icon--primary fr-x-icon--xl" aria-hidden="true"></span>
            <h3 class="app-card__title fr-h4 fr-mb-0">
                {% if measure.type == 'speedLimitation' %}
                    {{ 'regulation.measure.maxSpeed'|trans({ '%maxSpeed%': measure.maxSpeed }) }}
                {% else %}
                    {{ ('regulation.measure.type.' ~ measure.type)|trans }}
                {% endif %}
            </h3>
        </div>
        <div
            class="app-card__content"
            style="--card-content-margin-desktop: var(--6w)"
            data-testid="measure-content"
        >
            <div class="fr-ml-1w fr-my-0 fr-list" data-testid="measure-detail-items">
                <ul class="fr-raw-list">
                    <li class="fr-mb-2w">
                        <span class="app-card__img fr-icon-car-line fr-x-icon--dark-border fr-pr-1w" aria-hidden="true"></span>
                        {% include 'regulation/_vehicle_set.html.twig' with {
                            vehicleSet: measure.vehicleSet,
                        } only %}
                    </li>
                    <li class="fr-mb-2w">
                        <span class="app-card__img fr-icon-calendar-2-line fr-x-icon--dark-border fr-pr-1w" aria-hidden="true"></span>
                        {% include 'regulation/_period.html.twig' with { periods: measure.periods } only %}
                    </li>
                    <li>
                        <hr class="fr-mt-3w fr-mr-3w" />
                    </li>
                </ul>
                <ul class="fr-raw-list d-stack" style="--stack-gap: var(--1w)">
                    {% for location in measure.locations %}
                        <li>
                            <span class="app-card__img fr-icon-map-pin-2-line fr-x-icon--dark-border fr-pr-1w" aria-hidden="true"></span>
                            {% if location.roadType == 'lane' %}
                                {{ location.roadName }}
                                {% include 'regulation/_location_house_numbers.html.twig' with { location } only %}
                                {{ location.cityLabel }}
                            {% else %}
                                {{ location.roadNumber }} ({{ location.administrator }})
                                {% if location.fromPointNumber and location.toPointNumber  %}
                                    {{ 'regulation.location.reference_point'|trans({ '%fromPointNumber%': location.fromPointNumber, '%fromAbscissa%': location.fromAbscissa, '%toPointNumber%': location.toPointNumber, '%toAbscissa%': location.toAbscissa }) }}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if generalInfo.isDraft %}
            <ul class="app-card__actions">
                <li>
                    <form method="GET" action="{{ path('fragment_regulations_measure_update', { regulationOrderRecordUuid: generalInfo.uuid, uuid: measure.uuid }) }}">
                        <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-edit-line">
                            {{ 'common.update'|trans }}
                        </button>
                    </form>
                </li>
                {% if canDelete %}
                    <li id="measure_{{ uuid }}_delete_button">
                        {% include 'regulation/fragments/_measure_delete_form.html.twig' with { regulationOrderRecordUuid: generalInfo.uuid, uuid: measure.uuid, deleteCsrfToken } only %}
                    </li>
                {% else %}
                    <li id="measure_{{ uuid }}_delete_button" hidden></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</turbo-frame>
