<turbo-stream action="update" target="{{ targetId }}">
    <template>
        <option value="">{{ 'regulation.general_info.visa_model.placeholder'|trans }}</option>
        {% for organizationUuid, organization in options %}
            <optgroup label="{{ organizationUuid }}">
                {% for visaModelUuid, visaModel in organization %}
                    <option value="{{ visaModelUuid }}">{{ visaModel }}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </template>
</turbo-stream>

<turbo-stream action="update" target="visa-info">
    <template>
        {% include 'regulation/_general_info_visa_info.html.twig' with {organization_uuid: organizationUuid} only %}
    </template>
</turbo-stream>
