{% extends 'layouts/layout.html.twig' %}
{% set metaTitle = visaModel is defined ? visaModel.name : 'visa.add.title'|trans %}
{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% macro visa_item(form, index) %}
    <li
        class="app-card app-card--no-header fr-mb-2w"
        data-controller="remove"
        data-remove-target="this"
        data-form-collection-target="collectionItem"
    >
        <div class="app-card__actions">
            <button
                type="button"
                class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-delete-bin-line"
                data-action="remove#removeElement"
                aria-label="{{ 'visa.remove'|trans }}"
            >
            </button>
        </div>
        <div class="app-card__content">
            {{ form_row(form, {group_class: 'fr-input-group', attr: {class: 'fr-input'}}) }}
        </div>
    </li>
{% endmacro %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_users_list', {uuid: organization.uuid}), generatedPath: true },
                    { title: 'visa.list.title'|trans, url: path('app_config_visa_models_list', {uuid: organization.uuid}), generatedPath: true },
                    { title: metaTitle },
                ]} %}
                <h2>{{ metaTitle }}</h2>
                {{ form_start(form) }}
                    {{ form_row(form.name, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {{ form_row(form.description, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    <div
                        class="app-card fr-mb-2w app-card--with-full-background"
                        data-controller="form-collection"
                        data-form-collection-prototype-key-value="visa"
                        data-form-collection-next-index-value="{{ form.visas|length > 0 ? form.visas|last.vars.name + 1 : 0 }}"
                        data-form-collection-prototype-value="{{ _self.visa_item(form.visas.vars.prototype, '__visa_name__')|e('html_attr') }}"
                    >
                        <div class="app-card__header">
                            <span class="app-card__img fr-icon-x-check fr-x-icon--primary fr-x-icon--xl" aria-hidden="true"></span>
                            <h3 class="app-card__title fr-h4 fr-mb-0">{{ 'visas.form.visas'|trans }}</h3>
                        </div>
                        <div class="app-card__content">
                            <p class="fr-text--sm">{{ 'visas.form.visas.help'|trans }}</p>
                            {{ form_errors(form.visas) }}
                            <ul
                                id="visa-list"
                                class="fr-raw-list fr-fieldset__element"
                                data-testid="visa-list"
                                data-form-collection-target="collectionContainer"
                            >
                                {% for item in form.visas %}
                                    {{ _self.visa_item(item) }}
                                {% else %}
                                    {% do form.visas.setRendered %}
                                {% endfor %}
                            </ul>
                            <button
                                type="button"
                                class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-add-line"
                                data-action="form-collection#addCollectionElement"
                                aria-controls="visa-list"
                            >
                                {{ 'visa.add'|trans }}
                            </button>
                        </div>
                    </div>
                    <a href="{{ path('app_config_visa_models_list', {uuid: organization.uuid }) }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
                        {{ "common.cancel"|trans }}
                    </a>
                    {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
