{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{'visa.list.title'|trans }} - {{ parent() }}
{% endblock %}

{% set deleteCsrfToken = csrf_token('delete-visa-model') %}
{% set duplicateCsrfToken = csrf_token('duplicate-visa-model') %}

{% block body %}
    <section class="fr-container fr-py-5w" aria-labelledby="visa-list">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_config_organization_detail', {uuid: organization.uuid}), generatedPath: true },
                    { title: 'visa.list.title'|trans },
                ]} %}
                <div class="fr-grid-row">
                    <h2 id="visa-list" class="fr-col fr-mb-0">{{ 'visa.list.title'|trans }}</h2>
                    {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                        <a href="{{ path('app_config_visa_models_add', { organizationUuid: organization.uuid }) }}" class="fr-ml-auto fr-btn fr-btn--secondary fr-x-btn-sm--icon-left fr-icon-add-line" title="{{ 'visa.add.title'|trans }}">
                            {{ 'visa.add.title'|trans }}
                        </a>
                    {% endif %}
                </div>
                <p class="fr-text--sm fr-my-2w">{{ 'visa.list.help'|trans }}</p>
                <p id="visa_models_management_notice" class="fr-my-2w fr-text--sm fr-message--info">
                    {% include 'regulation/_visa_models_management_notice.html.twig' with {organization_uuid: null} only %}
                </p>
                <div class="fr-table fr-table--layout-fixed fr-table--no-caption">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'visa.name'|trans }}</th>
                                <th scope="col">{{ 'visa.description'|trans }}</th>
                                <th scope="col" class="app-table__actions">{{ 'common.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody data-testid="visa-list">
                            {% for visa in visaModels %}
                                <tr>
                                    <td>
                                        {{ visa.name }}
                                        {% if not visa.organizationUuid %}<span class="fr-tag fr-tag--sm">DiaLog</span>{% endif %}
                                    </td>
                                    <td>
                                        {{ visa.description|u.truncate(50, '...', false) }}</td>
                                    <td>
                                        {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                                            <div class="fr-btns-group fr-btns-group--center fr-btns-group--inline-sm">
                                                {% if visa.organizationUuid %}
                                                    <a title="{{ 'common.update'|trans }}" href="{{ path('app_config_visa_models_edit', { uuid: visa.uuid, organizationUuid: organization.uuid }) }}" class="fr-btn fr-icon-edit-line fr-btn--tertiary-no-outline">
                                                        {{ 'common.update'|trans }}
                                                    </a>
                                                {% endif %}
                                                <form
                                                    method="post"
                                                    action="{{ path('app_config_visa_models_duplicate', { uuid: visa.uuid, organizationUuid: organization.uuid }) }}"
                                                    data-controller="form-submit"
                                                    data-action="modal-trigger:submit->form-submit#submit"
                                                >
                                                    <d-modal-trigger modal="visa-duplicate-modal" submitValue="visa-duplicate-{{ visa.uuid }}">
                                                        <button
                                                            class="fr-btn fr-btn--tertiary-no-outline"
                                                            aria-controls="visa-duplicate-modal"
                                                            aria-label="{{ 'visa.list.duplicate'|trans({'%name%': visa.name}) }}"
                                                            title="{{ 'visa.list.duplicate'|trans({'%name%': visa.name}) }}"
                                                        ><i class="ri-file-copy-line" style="font-size:24px"></i></button>
                                                    </d-modal-trigger>
                                                    <input type="hidden" name="_token" value="{{ duplicateCsrfToken }}" />
                                                </form>
                                                {% if visa.organizationUuid %}
                                                    <form
                                                        method="POST"
                                                        action="{{ path('app_config_visa_models_delete', { uuid: visa.uuid, organizationUuid: organization.uuid }) }}"
                                                        data-controller="form-submit"
                                                        data-action="modal-trigger:submit->form-submit#submit"
                                                    >
                                                        <input type="hidden" name="_method" value="DELETE">

                                                        <d-modal-trigger modal="visa-delete-modal" submitValue="visa-delete-{{ visa.uuid }}">
                                                            <button
                                                                class="fr-btn fr-btn--tertiary-no-outline fr-icon-delete-bin-line"
                                                                aria-controls="visa-delete-modal"
                                                                aria-label="{{ 'visa.list.delete'|trans({'%name%': visa.name}) }}"
                                                                title="{{ 'visa.list.delete'|trans({'%name%': visa.name}) }}"
                                                            ></button>
                                                        </d-modal-trigger>
                                                        <input type="hidden" name="_token" value="{{ deleteCsrfToken }}" />
                                                    </form>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_end %}
    {{ parent() }}
    {% include 'common/confirmation_modal.html.twig' with {
        id: 'visa-delete-modal',
        title: 'visa.delete_modal.title'|trans,
        buttons: [
            { label: 'common.delete'|trans, attr: {type: 'submit', class: 'fr-btn'} },
            { label: 'common.do_not_delete'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
        ]
    } only %}
    {% include 'common/confirmation_modal.html.twig' with {
        id: 'visa-duplicate-modal',
        title: 'visa.duplicate_modal.title'|trans,
        buttons: [
            { label: 'common.duplicate'|trans, attr: {type: 'submit', class: 'fr-btn'} },
            { label: 'common.do_not_duplicate'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
        ]
    } only %}
{% endblock %}
