<turbo-frame id="location_turbo_frame_{{ location.uuid }}">
    <div class="fr-container--fluid fr-mb-1w">
        <div class="fr-grid-row fr-grid-row--right">
            <button id="close_location_popup_{{ location.uuid }}" class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-btn--icon-right fr-icon-close-line">
                {{ 'common.close'|trans }}
            </button>
        </div>
    </div>
    <ul class="fr-raw-list d-stack" style="--stack-gap: var(--1w)">
        <li class="fr-grid-row fr-text--bold">
            {% include 'regulation/_measure_title.html.twig' with { measure } only %}
        </li>

        <li class="fr-grid-row fr-x-gap-1w fr-text--sm">
            <span class="fr-icon-map-pin-2-line fr-x-icon--dark-border" aria-hidden="true"></span>
            <span class="fr-x-grow">
                {% include 'regulation/_location_line.html.twig' with { location } only %}
            </span>
        </li>

        <li class="fr-grid-row fr-x-gap-1w fr-text--sm">
            <span class="fr-icon-car-line fr-x-icon--dark-border" aria-hidden="true"></span>
            <span class="fr-x-grow">
                {{ include('regulation/_vehicle_set.html.twig', { vehicleSet: measure.vehicleSet }, with_context = false)|trim|app_capfirst }}
            </span>
        </li>

        <li class="fr-grid-row fr-x-gap-1w fr-text--sm">
            <span class="fr-icon-calendar-2-line fr-x-icon--dark-border" aria-hidden="true"></span>
            <span class="fr-x-grow">
                {{ include('regulation/_period.html.twig', { periods: measure.periods }, with_context = false)|trim|app_capfirst }}
            </span>
        </li>
    </ul>

    <div class="fr-container--fluid fr-mt-1w">
        <div class="fr-grid-row fr-grid-row--right">
            <a class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline" href="{{ path('app_regulation_detail', {'uuid' : regulationOrderRecordId}) }}" target="_blank">
                {{ 'map.location.popup.details'|trans }}
            </a>
        </div>
    </div>
</turbo-frame>
