<nav role="navigation" class="fr-breadcrumb" aria-label="{{ 'common.breadcrumb.here'|trans }}">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
        {{ 'common.breadcrumb.see'|trans }}
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
            {% for item in items %}
                {% if loop.last %}
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{{ item.title }}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="fr-breadcrumb__link" href="{{ path(item.path) }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>
