{% set modalId = id %}

{% use "common/form/dsfr_theme.html.twig" %}

<dialog
    id="{{ modalId }}"
    class="app-modal"
    role="dialog"
    aria-labelledby="{{ modalId }}-title"
>
    <form method="dialog" class="fr-container">
        <button class="fr-mb-2w fr-link fr-link--close" aria-controls="{{ modalId }}">
            {{ 'common.close'|trans }}
        </button>

        <h1 id="{{ modalId }}-title">
            {{ title }}
        </h1>

        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg">
            {% for button in buttons %}
                {% set attr = ({'aria-controls': modalId})|merge(button.attr) %}
                <button {% with {attr} %}{{ block('attributes') }}{% endwith %}>
                    {{ button.label }}
                </button>
            {% endfor %}
        </div>
    </form>
</dialog>
