
<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="{{ path(mainPath) }}" title="{{ 'common.back_to_home'|trans }}">
                    <p class="fr-logo">{{ 'common.ministry'|trans|raw }}</p>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">{{ 'common.slogan'|trans }}</p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://legifrance.gouv.fr" target="_blank">legifrance.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://gouvernement.fr" target="_blank">gouvernement.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://service-public.fr" target="_blank">service-public.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://data.gouv.fr" target="_blank">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a href="{{ path('app_accessibility_statement') }}" class="fr-footer__bottom-link">{{ 'accessibility.status'|trans }}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a href="{{ path('app_ecodesign_statement') }}" class="fr-footer__bottom-link">{{ 'ecodesign_statement.link'|trans }}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('app_legal') }}">{{ 'legal.title'|trans }}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="#">{{ 'common.privacy'|trans }}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('app_stats') }}">{{ 'statistics.title'|trans }}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="https://github.com/MTES-MCT/dialog" target="_blank" rel="noreferrer">{{ 'source_code.title'|trans }}</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>{{ 'common.licence'|trans|raw }}</p>
            </div>
        </div>
    </div>
</footer>
