{% set mainPath = app.user ? path('app_regulations_list') : path('app_landing') %}
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">{{ 'common.ministry'|trans|raw }}</p>
                        </div>
                        <div class="fr-header__operator">
                            <a href="{{ mainPath }}" title="{{ 'common.title'|trans }}">
                                <img class="fr-responsive-img" src="{{ asset('images/logo.png') }}" alt="{{ 'common.title'|trans }}" />
                            </a>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                                {{ 'common.menu'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ mainPath }}" title="DiaLog">
                            <p class="fr-header__service-title">
                                {{ 'common.title'|trans }}
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">{{ 'common.baseline'|trans }}</p>
                    </div>
                </div>
                <div class="fr-header__tools" data-testid="user-links">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            {% if app.user %}
                                <li>
                                    <a class="fr-btn fr-icon-edit-line" href="{{ path('app_feedback') }}">
                                        {{ 'common.feedback'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-btn fr-icon-x-government fr-x-icon--sm" href="{{ path('app_my_organizations') }}">
                                        {{ 'user.myorganizations'|trans }}
                                        {% if not app.user.isOrganizationsCompleted %}
                                            <span class="notification-dot" title="{{ 'user.organizations_incomplete'|trans }}"></span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="user-dropdown" data-controller="user-dropdown">
                                    <button
                                        class="user-dropdown-btn fr-btn fr-btn--tertiary-no-outline"
                                        data-action="click->user-dropdown#toggle"
                                        data-user-dropdown-target="button"
                                        aria-expanded="false"
                                        aria-controls="userDropdownMenu"
                                        type="button"
                                    >
                                        <span class="icon fr-icon--sm fr-icon-account-circle-fill"></span>
                                        {{ app.user.fullName }}
                                        <span class="chevron" data-user-dropdown-target="chevron"></span>
                                    </button>
                                    <div class="user-dropdown-menu" id="userDropdownMenu" data-user-dropdown-target="menu" hidden>
                                        <div class="user-dropdown-header">
                                            <div class="user-dropdown-name">{{ app.user.fullName }}</div>
                                            <div class="user-dropdown-email">{{ app.user.userIdentifier }}</div>
                                        </div>
                                        <hr class="user-dropdown-separator">
                                        <a class="fr-link fr-icon-account-circle-line fr-link--icon-left" href="{{ path('app_profile') }}">
                                            {{ 'profile.title'|trans }}
                                        </a>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <a class="fr-link fr-icon-settings-5-line fr-link--icon-left" href="{{ path('app_admin') }}">
                                                {{ 'common.admin'|trans }}
                                            </a>
                                        {% endif %}
                                        <a class="fr-btn fr-btn--icon-left fr-icon-logout-box-r-line fr-btn--secondary user-dropdown-logout" href="{{ path('app_logout') }}" data-testid="logout-link">
                                            {{ 'common.logout'|trans }}
                                        </a>
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <a class="fr-btn fr-icon-user-line" href="{{ path('app_register') }}">
                                        {{ 'common.register'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-btn fr-btn--secondary" href="{{ path('app_login') }}">
                                        {{ 'common.login'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                {{ 'common.close'|trans }}
            </button>
            <div class="fr-header__menu-links"></div>
            {% block navigation %}{% endblock %}
        </div>
    </div>
</header>
