{% set mainPath = app.user ? path('app_regulations_list') : path('app_landing') %}
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">{{ 'common.ministry'|trans|raw }}</p>
                        </div>
                        <div class="fr-header__operator">
                            <a href="{{ mainPath }}" title="{{ 'common.title'|trans }}">
                                <img class="fr-responsive-img" src="{{ asset('images/logo.png') }}" alt="{{ 'common.title'|trans }}" />
                            </a>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                                {{ 'common.menu'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ mainPath }}" title="{{ 'common.site_name'|trans }}">
                            <p class="fr-header__service-title">
                                {{ 'common.title'|trans }}
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">{{ 'common.baseline'|trans }}</p>
                    </div>
                </div>
                <div class="fr-header__tools" data-testid="user-links">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            {% if app.user %}
                                <li>
                                    <a class="fr-btn fr-icon-edit-line" href="{{ path('app_feedback') }}">
                                        {{ 'common.feedback'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-btn fr-icon-account-circle-fill" href="{{ path('app_my_area') }}">
                                        {{ 'myarea.title'|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="fr-btn fr-icon-user-line fr-btn--secondary" href="{{ path('app_register') }}">
                                        {{ 'common.register'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-btn" href="{{ path('app_login') }}">
                                        {{ 'common.login'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                {{ 'common.close'|trans }}
            </button>
            <div class="fr-header__menu-links"></div>
            {% block navigation %}{% endblock %}
        </div>
    </div>
</header>
