<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">{{ 'common.ministry'|trans|raw }}</p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                                {{ 'common.menu'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path(mainPath) }}" title="{{ 'common.site_name'|trans }}">
                            <p class="fr-header__service-title">
                                {{ 'common.site_name'|trans }}
                                <span class="fr-badge fr-badge--new">bêta</span>
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">{{ 'common.baseline'|trans }}</p>
                    </div>
                </div>
                <div class="fr-header__tools" data-testid="user-links">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            {% if app.user %}
                                <li>
                                    <a class="fr-btn fr-icon-user-fill" href="{{ path('app_regulations_list') }}">
                                        {{ app.user.fullName }}
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-btn fr-icon-edit-line" href="{{ path('app_feedback') }}">
                                        {{ 'common.feedback'|trans }}
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a class="fr-btn fr-icon-settings-5-line" href="{{ path('app_admin') }}">
                                            Administration
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="fr-btn fr-icon-lock-unlock-line" href="{{ path('app_logout') }}" data-testid="logout-link">
                                        {{ 'common.logout'|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="fr-btn fr-icon-lock-line" href="{{ path('app_login') }}">
                                        {{ 'common.login'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="fr-btn fr-icon-user-fill" href="{{ path('app_access_request') }}">
                                        {{ 'common.accessRequest'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                {{ 'common.close'|trans }}
            </button>
            <div class="fr-header__menu-links"></div>
            {% block navigation %}{% endblock %}
        </div>
    </div>
</header>
