<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">{{ 'common.ministry'|trans|raw }}</p>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path(mainPath) }}" title="{{ 'common.site_name'|trans }}">
                            <p class="fr-header__service-title">
                                {{ 'common.site_name'|trans }}
                                <span class="fr-badge fr-badge--new">bêta</span>
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">{{ 'common.baseline'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
