{{ form_start(form) }}
    {{ form_row(form.identifier, {group_class: 'fr-input-group', widget_class: 'fr-input', label_content_attr: {class: 'fr-text--bold'}}) }}
    {{ form_row(form.organization, {group_class: 'fr-select-group', widget_class: 'fr-select'}) }}
    {{ form_row(form.description, {group_class: 'fr-input-group', attr: {class: 'fr-input'}, help_attr: {class: 'fr-hint-text'}}) }}
    {{ form_row(form.startDate, {group_class: 'fr-input-group', widget_class: 'fr-input', label_content_attr: {class: 'fr-text--bold'}}) }}
    {{ form_row(form.endDate, {group_class: 'fr-input-group', widget_class: 'fr-input', label_content_attr: {class: 'fr-text--bold'}}) }}

    {% if uuid %}
        <a href="{{ path('app_regulations_general_info', { uuid }) }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
            {{ "common.cancel"|trans }}
        </a>
    {% else %}
        <a href="{{ path('app_regulations_list') }}" data-turbo-frame="_top" class="fr-btn fr-btn--tertiary fr-mr-3w">
            {{ "common.cancel"|trans }}
        </a>
    {% endif %}
    {{ form_widget(form.save, {attr: {class: 'fr-btn fr-btn--icon-right fr-icon-arrow-right-line'}}) }}
{{ form_end(form) }}
