<ul class="{{ class|default('') }} app-landing-diagram" aria-hidden="true">
    <li>
        <img src="{{ asset('images/landing/city-hall.png') }}">
        <div>{{ 'landing.diagram.authorities'|trans }}</div>
    </li>
    <span class="app-landing-diagram__arrow"></span>
    <li class="fr-x-background-alt--blue-france">
        <img src="{{ asset('images/landing/system.png') }}">
        <div>{{ 'landing.diagram.dialog'|trans }}</div>
    </li>
    <span class="app-landing-diagram__arrow"></span>
    <li>
        <img src="{{ asset('images/landing/map.png') }}">
        <div>{{ 'landing.diagram.digital_services'|trans }}</div>
    </li>
    <span class="app-landing-diagram__arrow"></span>
    <li>
        <img src="{{ asset('images/landing/community.png') }}">
        <div>{{ 'landing.diagram.road_users'|trans }}</div>
    </li>
</div>
