{% extends 'layouts/app.html.twig' %}

{% block title %}
    {{'accessRequest.meta.title'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="fr-container fr-mt-8v fr-mt-md-14v fr-mb-2v fr-mb-md-8v">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                <h2>{{ 'accessRequest.meta.title'|trans }}</h2>
                <p class="fr-text--lead">{{ 'accessRequest.meta.subtitle'|trans }}</p>
            </div>
        </div>
    </div>
    <div class="fr-container fr-container--fluid fr-mt-md-10v fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v">
                    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                            {% if app.request.get('success') %}
                                <div class="fr-alert fr-alert--success">
                                    {{ 'accessRequest.send.success'|trans }}
                                </div>
                                <span class="fr-hint-text fr-mt-3w">{{ 'accessRequest.send.success.help'|trans }}</span>
                            {% else %}
                                {{ form_start(form) }}
                                {{ form_row(form.fullName, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_row(form.email, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_row(form.password, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_row(form.organizationName, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_row(form.organizationSiret, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_row(form.comment, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                <div class="fr-fieldset__element">
                                    <div class="fr-checkbox-group">
                                        {{ form_widget(form.consentToBeContacted) }}
                                        {{ form_label(form.consentToBeContacted) }}
                                    </div>
                                </div>
                                {{ form_row(form.save, {group_class: 'fr-btns-group'}) }}
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="fr-mt-8v">
                    <a href="{{ path('app_landing') }}" class="fr-link fr-fi-arrow-left-line fr-link--icon-left">
                        {{ 'common.back_to_home'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
