{% set mainPath = app.user ? 'app_regulations_list' : 'app_landing' %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="{{ asset('build/dsfr/favicon/apple-touch-icon.png') }}"><!-- 180×180 -->
    <link rel="icon" href="{{ asset('build/dsfr/favicon/favicon.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ asset('build/dsfr/favicon/favicon.ico') }}" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="{{ asset('build/dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials">

    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="module" src="{{ asset('build/dsfr/dsfr.module.min.js') }}" defer></script>
        <script type="text/javascript" nomodule src="{{ asset('build/dsfr/dsfr.nomodule.min.js') }}" defer></script>
    {% endblock %}
  </head>
  <body>
    {% include 'common/header.html.twig' %}

    <div class="fr-container fr-pt-4w">
        {% for label, messages in app.flashes(['warning', 'error']) %}
            {% for message in messages %}
                <div class="fr-alert fr-alert--{{ label }}">
                    <h3 class="fr-alert__title">{{ message }}</h3>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <main id="contenu">
        {% block body %}{% endblock %}
    </main>
    {% include 'common/footer.html.twig' %}
  </body>
</html>
