{% set mainPath = app.user ? 'app_regulations_list' : 'app_landing' %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('build/dsfr/dsfr.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-design/icons-design.min.css') }}">
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-system/icons-system.min.css') }}">
    <link rel="apple-touch-icon" href="{{ asset('build/dsfr/favicon/apple-touch-icon.png') }}"><!-- 180×180 -->
    <link rel="icon" href="{{ asset('build/dsfr/favicon/favicon.svg') }}" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ asset('build/dsfr/favicon/favicon.ico') }}" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="{{ asset('build/dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials">

    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="module" src="{{ asset('build/dsfr/dsfr.module.min.js') }}" defer></script>
        <script type="text/javascript" nomodule src="{{ asset('build/dsfr/dsfr.nomodule.min.js') }}" defer></script>
    {% endblock %}
  </head>
  <body>
    {% include 'common/header.html.twig' %}
    <main id="contenu">
        <section class="banner fr-py-5w fr-md-8w">
            <div class="fr-container">
                {% block body %}{% endblock %}
            </div>
        </section>
    </main>
    {% include 'common/footer.html.twig' %}
  </body>
</html>
