{% extends 'layouts/layout.html.twig' %}

{% set title = "Déclaration d'écoconception" %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set definesContentSkiplink = true %}

{% block body %}
    <div class="fr-container fr-py-2w fr-py-md-5w">
        {% include "common/breadcrumb.html.twig" with { items: [
            { title: 'home.breadcrumb'|trans, path: 'app_landing'},
            { title: 'ecodesign_statement.breadcrumb'|trans },
        ]} %}

        <div id="content">
            {% apply markdown_to_html %}
            # {{ title }}

            Ce service numérique a été pensé et développé dans une logique d'écoconception de services numériques.

            ## Qu'est-ce que l'écoconception de services numériques ?

            **L'écoconception de services numériques est une démarche d'amélioration continue**.
            L'objectif est de limiter les ressources informatiques.
            L'écoconception agit sur 3 niveaux : terminaux utilisateurs, réseau, et centres de données informatiques (datacenters).
            Dans une démarche d'écoconception, on s'intéresse au service numérique dans sa globalité.

            L'écoconception de services numériques est une branche du
            [Numérique Responsable](https://ecoresponsable.numerique.gouv.fr/publications/guide-pratique-achats-numeriques-responsables/demarche-numerique-responsable/definition/).
            Le Numérique responsable est une démarche d'amélioration continue qui vise à améliorer l'empreinte écologique et sociale du numérique.

            ## Raison d'être de ce service

            Le service [DiaLog]({{ path('app_landing') }}) vise à numériser et diffuser la réglementation de circulation afin de garantir la sécurité du public et de préserver les infrastructures routières.

            Il y a 2 cibles utilisatrices principales :

            * Les **agents publics** qui souhaitent communiquer à des tiers la réglementation de circulation sous format numérique ;
            * Les **services tiers** qui intègrent cette réglementation dans leurs services numériques à destination du public.

            Le besoin métier est de permettre la numérisation et la diffusion de la réglementation de circulation de manière la plus accessible possible.

            Les bénéficiaires finaux du service sont les usagers de la route, y compris les chauffeurs routiers, qui voient sur leurs outils de navigation les dernières reglementations en place (travaux, limitation de vitesse, circulation réduite, etc).

            ## Stratégie et objectifs en matière de réduction ou de limitation des impacts environnementaux

            Ce service doit fonctionner sur des terminaux les plus anciens possibles et dans des conditions de connectivité variées.

            Plusieurs mesures sont mises en place. En voici une liste non exhaustive :

            * Utilisation des composants d'interfaces du système de design de l'Etat (DSFR) : ils sont accessibles et leur empreinte est minimale.
            * Navigation la plus intuitive possible, pour réduire le temps passé à trouver une information.
            * Nombre de requêtes serveurs maximum par écran : 40.
            * Poids des ressources maximum par écran : 900 ko.
            * Le service s'adapte à toutes les tailles d'écran.
            * Utilisation limitée d'images et compression des images.

            La mise en place de cette stratégie est supervisée par Aurélie Baton et Florimond Manca, désignés le 23 avril 2025 comme personnes référentes pour l'écoconception du service.

            ## Score d'avancement dans la mise en œuvre du référentiel général d'écoconception des services numériques (RGESN)

            Score d'avancement le 6 mars 2025 : 71 %

            Score d'avancement précédent : 71 % le 4 juin 2024

            Le service numérique DiaLog vise une amélioration continue de ce score d'avancement pour atteindre 80 % en juin 2026.

            <div class="app-ecodesign-results fr-mb-4w">
            <!-- Do not indent to avoid rendering as code block -->
            <div class="fr-card fr-enlarge-link fr-card--sm fr-card--download">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h3 class="fr-card__title">
                            <a href="{{ asset('files/2025-04-23 - Déclaration écoconception DiaLog.pdf') }}" download>
                                Déclaration d'écoconception
                            </a>
                        </h3>
                        <p class="fr-card__desc">
                            23 avril 2025
                        </p>
                        <div class="fr-card__end">
                            <p class="fr-card__detail">PDF - 310 ko</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fr-card fr-enlarge-link fr-card--sm fr-card--download">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h3 class="fr-card__title">
                            <a href="{{ asset('files/2025-03-06 - Déclaration écoconception DiaLog - Détail.pdf') }}" download>
                                Tableau d'audit RGESN
                            </a>
                        </h3>
                        <p class="fr-card__desc">
                            6 mars 2025
                        </p>
                        <div class="fr-card__end">
                            <p class="fr-card__detail">PDF - 540 ko</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            ## Evaluation du parcours avec GreenIT Analysis

            L'**unité fonctionnelle** choisie pour l'évaluation du parcours est : "Saisir un arrêté temporaire de circulation".

            L'évaluation du parcours a été faite le 23 avril 2025 sur Firefox, après nettoyage du cache en début de parcours.
            Afin d'éviter l'incrémentation des résultats sur ce parcours, les données réseaux sont nettoyées entre chaque étape.

            Les étapes suivies sont :

            * **Accéder à la page d'accueil de Dialog** : score **EcoIndex B** (33 requêtes, 974 Ko de données transférées, 196 éléments DOM) ;
            * **Se connecter à Dialog** : score  **EcoIndex A**(7 requêtes, 40 Ko, 173 éléments DOM) ;
            * **Accéder à la liste des arrêtés** : score **EcoIndex C** (16 requêtes, 91 Ko, 880 éléments DOM) ;
            * **Accéder à la page de création d'un arrêté** : score **EcoIndex A** (5 requêtes, 8 Ko, 235 éléments DOM) ;
            * **Saisir les informations générales puis accéder à la page d'un nouvel arrêté de travaux** :
            score **EcoIndex C** (12 requêtes, 70 Ko, 1093 éléments DOM) ;
            * **Saisir une mesure dans le formulaire** (circulation interdite sur 1 rue, à tous les véhicules sauf vélos et piétons) :
            score **EcoIndex A** (9 requêtes, 141 Ko, 240 éléments DOM).

            ### Date de cette déclaration de conformité

            Cette déclaration est établie le 23 avril 2025.

            ### Et après ?

            Nous mettons en place une démarche d'amélioration continue grâce à une évaluation de l'impact
            environnemental et social de notre service de manière régulière.
            Nos outils nous fournissent des indicateurs de suivi pour adapter nos méthodes et nos contenus
            tout au long du cycle de vie.
            {% endapply %}
        </div>
    </div>
{% endblock %}
