{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{ 'forgot_password.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="fr-container fr-container--fluid fr-mt-md-10v fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v">
                    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                            <h1>{{ 'forgot_password.title'|trans }}</h1>
                            <p>{{ 'forgot_password.description'|trans }}</p>
                            {{ form_start(form) }}
                                {{ form_row(form.email, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_row(form.save) }}
                            {{ form_end(form) }}
                            <p class="fr-text--sm fr-mt-2w">
                                <a href="{{ path('app_login') }}" class="fr-link">{{ 'forgot_password.back_to_login'|trans }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
