{% extends 'base.html.twig' %}

{% block body %}
  <h3>{{ 'home.list.title'|trans }}</h3>

  {% if objects|length > 0 %}
    <ul>
      {% for obj in objects %}
        <li data-test="regulations_item">
          {{ obj.description }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p data-test="regulations_empty">
      <em>{{ 'home.list.empty'|trans }}</em>
    </p>
  {% endif %}

  <h3>{{ 'home.add.title'|trans }}</h3>

  {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
      {{ form_label(form.description, null, {'label_attr': {'class': 'fr-label'}}) }}
      {{ form_widget(form.description, {'attr': {'class': 'fr-input'}}) }}
    </div>

    <div class="fr-mt-2w">
      {{ form_label(form.issuingAuthority, null, {'label_attr': {'class': 'fr-label'}}) }}
      {{ form_widget(form.issuingAuthority, {'attr': {'class': 'fr-input'}}) }}
    </div>

    <div class="fr-mt-2w">
      {{ form_widget(form.save, {'attr': {'class': 'fr-btn'}}) }}
    </div>
  {{ form_end(form) }}
{% endblock %}
