{% extends 'layouts/public.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-4w header" aria-labelledby="jumbotron">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12 fr-col-md-8">
                <h1 id="jumbotron" class="fr-x-text--blue-france">{{ 'landing.jumbotron.title'|trans }}</h1>
                <ul class="fr-x-text--default-grey app-list--checkmarks fr-x-md-stack" style="--stack-spacing: 1rem;">
                    <li>{{ 'landing.jumbotron.description1'|trans|raw }}
                    </li>
                    <li>{{ 'landing.jumbotron.description2'|trans|raw }}
                    </li>
                    <li>{{ 'landing.jumbotron.description3'|trans|raw }}
                    </li>
                </ul>
            </div>
            <div class="fr-col-12 fr-col-md-4 fr-x-text--center">
                <img src="{{ asset('images/landing/illustration-gps.webp') }}" alt="{{ 'landing.jumbotron.illustration'|trans }}" width="300" height="276"/>
            </div>
        </div>
    </section>
    <section class="how-it-works fr-x-background-alt--blue-france" aria-labelledby="how-it-works">
        <div class="fr-container fr-py-4w">
            <h2 id="how-it-works">{{ 'landing.for-who.title'|trans }}</h2>
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row">
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">
                                    <a href="{{ path('app_landing_authorities') }}">
                                        {{ 'landing.for-city.title'|trans }}
                                    </a>
                                </h3>
                                <p class="fr-card__desc">
                                    {{ 'landing.for-city.description'|trans|raw }}
                                </p>
                            </div>
                        </div>
                        <div class="fr-card__header fr-x-text--center">
                            <img src="{{ asset('images/landing/city-hall.png') }}" alt="city-hall" />
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">
                                    <a href="{{ path('app_landing_digital_services') }}">
                                        {{ 'landing.for-gps.title'|trans }}
                                    </a>
                                </h3>
                                <p class="fr-card__desc">
                                    {{ 'landing.for-gps.description'|trans|raw }}
                                </p>
                            </div>
                        </div>
                        <div class="fr-card__header fr-x-text--center">
                            <img src="{{ asset('images/landing/map.png') }}" alt="map" />
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">
                                    <a href="{{ path('app_landing_road_users') }}">
                                        {{ 'landing.road-users.title'|trans }}
                                    </a>
                                </h3>
                                <p class="fr-card__desc">
                                    {{ 'landing.road-users.description'|trans|raw }}
                                </p>
                            </div>
                        </div>
                        <div class="fr-card__header fr-x-text--center">
                            <img src="{{ asset('images/landing/community.png') }}" alt="information" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="itinerary fr-container fr-py-6w" aria-labelledby="itinerary">
        <h2 id="itinerary" class="fr-x-text--blue-france">{{ 'landing.how-it-works.title'|trans }}</h2>
        <p class="fr-text--xl fr-m-0">{{ 'landing.how-it-works.description'|trans|raw }}</p>
        {% include '_landing_diagram.html.twig' with {class: 'fr-mt-3w', spotlight: 'dialog'} only %}
    </section>
    <section class="fr-container fr-py-6w">
                <h2 class="fr-x-text--blue-france">{{ 'landing.who-are-we.title'|trans }}</h2>
                <p class="fr-text--xl">{{ 'landing.who-are-we.description1'|trans|raw }}</p>
                <p class="fr-text--xl">{{ 'landing.who-are-we.description2'|trans|raw }}</p>
                <a href="{{ path('app_landing_authorities') }}" class="fr-btn fr-mr-2w fr-mb-2w">
                    {{ 'landing.who-are-we.experiment'|trans }}
                </a>
                <a href="mailto:dialog@beta.gouv.fr" class="fr-btn fr-btn--secondary" data-testid="contact-link">
                    {{ 'landing.who-are-we.contact'|trans }}
                </a>
    </section>
{% endblock %}
