{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Jumbotron -->
    <div class="fr-container fr-py-4w fr-py-md-6w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12 fr-col-md-8">
                <h1 class="fr-x-text--blue-france">
                    {{ 'landing.jumbotron.title'|trans }}
                </h1>

                <ul class="fr-text--xl fr-x-text--default-grey app-list--checkmarks">
                    <li>
                        {{ 'landing.jumbotron.description1'|trans|raw }}
                    </li>
                    <li class="fr-mt-md-1w">
                        {{ 'landing.jumbotron.description2'|trans|raw }}
                    </li>
                    <li class="fr-mt-md-1w">
                        {{ 'landing.jumbotron.description3'|trans|raw }}
                    </li>
                </ul>
            </div>

            <div class="fr-col-12 fr-col-md-4 fr-x-text--center" aria-hidden="true">
                <img src="{{ asset('images/landing/illustration-gps.webp') }}" height="272" />
            </div>
        </div>
    </div>

    <!-- Aperçu carte + call to action -->
    <div class="app-landing-map">
        <div class="fr-container">
            <div class="app-landing-map-card">
                <h2 class="fr-h2">
                    {{ 'landing.map.title'|trans }}
                </h2>
                <p>
                    {{ 'landing.map.description'|trans }}
                </p>
                <a class="fr-btn fr-btn--icon-right fr-icon-road-map-line" href="{{ path('app_carto') }}">
                    {{ 'landing.map.link'|trans }}
                </a>
            </div>
        </div>
    </div>

    <!-- Comment ça marche ? -->
    <div>
        <div class="fr-container fr-py-6w">
            <h2 class="fr-x-text--blue-france">
                {{ 'landing.how-it-works.title'|trans }}
            </h2>
            <p class="fr-text--xl fr-m-0">
                {{ 'landing.how-it-works.description'|trans|raw }}
            </p>
            {% include '_landing_diagram.html.twig' with {class: 'fr-mt-3w'} only %}
        </div>
    </div>

    <!-- Ouvrir mes réglementations de circulation avec DiaLog -->
    <div class="fr-container fr-py-6w fr-x-background-artwork-decorative-blue-france">
        <h2>{{ 'landing.distribute.title'|trans }}</h2>
        <p class="fr-text--xl fr-mb-4w">
            {{ 'landing.distribute.description'|trans|raw }}
        </p>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                <a href="{{ path('app_landing_details') }}#input">{{ 'landing.distribute.card.title'|trans }}</a>
                            </h3>
                            <p class="fr-card__desc">{{ 'landing.distribute.card.description'|trans|raw }}</p>
                        </div>
                    </div>
                    <div class="fr-card__header">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="{{ asset('images/landing/illustration-arreté-limitation-vitesse.webp') }}" alt="illustration : un formulaire de saisie d'arrêté de limitation de vitesse dans l'interface DiaLog">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                <a href="{{ path('app_landing_details') }}#api">{{ 'landing.card.api.title'|trans }}</a>
                            </h3>
                            <p class="fr-card__desc">{{ 'landing.card.api.description'|trans }}</p>
                        </div>
                    </div>
                    <div class="fr-card__header">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="{{ asset('images/landing/Illustration-doc-api.webp') }}" alt="illustration d'une documentation technique de l'API DiaLog">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                <a href="{{ path('app_landing_details') }}#integration">{{ 'landing.card.integrate.title'|trans }}</a>
                            </h3>
                            <p class="fr-card__desc">{{ 'landing.card.integrate.description'|trans|raw }}</p>
                        </div>
                    </div>
                    <div class="fr-card__header">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="{{ asset('images/landing/illustration-arrete-de-circulation.webp') }}" alt="illustration d'une liste d'arrêtés de circulation intégrés dans DiaLog">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Publier les données de circulation pour les diffuser aux GPS -->
    <div class="fr-container fr-py-6w fr-x-background-alt--blue-france">
        <h2>{{ 'landing.distribute.gps.title'|trans }}</h2>
        <p class="fr-text--xl fr-m-0">
            {{ 'landing.distribute.gps.description'|trans|raw }}
        </p>
        <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
            <div class="fr-col-12 fr-col-md-6">
                <div class="app-landing-gps-map-bg">
                    <img src="{{ asset('images/landing/illustration-arrete-sur-carte.webp') }}" class="fr-responsive-img" loading="lazy" aria-hidden="true">
                    <p class="fr-text--sm fr-mt-2w">
                        {{ 'landing.distribute.gps.map.caption'|trans }}
                    </p>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-6">
                <div class="app-landing-gps-map-bg">
                    <img src="{{ asset('images/landing/illustration-arrete-waze.webp') }}" class="fr-responsive-img" loading="lazy" aria-hidden="true">
                    <p class="fr-text--sm fr-mt-2w">
                        {{ 'landing.distribute.gps.waze.caption'|trans }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-py-4w">
        <div class="fr-container">
            <h2 class="fr-x-text--blue-france">
                {{ 'landing.who-are-we.title'|trans }}
            </h2>
            <p class="fr-text--xl">
                {{ 'landing.who-are-we.description1'|trans|raw }}
            </p>
            <p class="fr-text--xl">
                {{ 'landing.who-are-we.description2'|trans|raw }}
            </p>
            <a
                href="https://beta.gouv.fr/startups/dialogue.html"
                class="fr-btn fr-btn--tertiary"
                target="_blank"
                title="{{ 'common.targetblank'|trans({'%metaTitle%': 'landing.who-are-we.team.metaTitle'|trans}) }}"
            >
                {{ 'landing.who-are-we.team'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
