{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'regulation.list.title'|trans }}</h3>
    <a href="{{ path('app_regulations_add') }}">{{ "regulation.list.add_button"|trans }}</a>
    <div class="fr-table fr-table--layout-fixed">
        <table>
            <thead>
                <tr>
                    <td scope="col">#</td>
                    <th scope="col">{{ 'regulation_order.description'|trans }}</th>
                    <th scope="col">{{ 'regulation_order.issuing_authority'|trans }}</th>
                    <th scope="col">{{ 'regulation_order.period'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in regulationOrders %}
                    {% set startPeriod = obj.period.startPeriod %}
                    {% set endPeriod = obj.period.endPeriod %}
                    <tr>
                        <td>{{ obj.uuid }}</td>
                        <td>{{ obj.description }}</td>
                        <td>{{ obj.issuingAuthority }}</td>
                        <td>
                            {% if startPeriod and endPeriod %}
                                {{ 'regulation_order.period.temporary'|trans({
                                    '%startPeriod%': startPeriod|date('d/m/Y'),
                                    '%endPeriod%': endPeriod|date('d/m/Y'),
                                })}}
                            {% else %}
                                {% if "now"|date('d/m/Y') >= startPeriod|date('d/m/Y') %}
                                    {{ 'regulation_order.period.permanent.present'|trans({
                                        '%date%': startPeriod|date('d/m/Y'),
                                    })}}
                                {% else %}
                                    {{ 'regulation_order.period.permanent.futur'|trans({
                                        '%date%': startPeriod|date('d/m/Y'),
                                    })}}
                                {% endif %}
                                <p class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon">
                                    {{ 'common.permanent'|trans}}
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            <p><em>{{ 'home.list.empty'|trans }}</em></p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('api_regulations_list', { _format: 'xml' }) }}" target="_blank">
        {{ "regulation.link.datex"|trans }}
    </a>
{% endblock %}
