{% extends 'base.html.twig' %}

{% block title %}
    {{ 'landing.road_users.jumbotron.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="fr-container fr-pt-6w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12 fr-col-md-8">
                <h1 class="fr-x-text--blue-france">{{ 'landing.road_users.jumbotron.title'|trans }}</h1>
                <p class="fr-text--xl">{{ 'landing.road_users.jumbotron.description'|trans|raw }}</p>
            </div>
            <div class="fr-col-12 fr-col-md-4 landing-jumbotron__illustration">
                <img src="{{ asset('images/landing/Illustration-gps-voiture.png') }}" aria-hidden="true" width="300" height="164"/>
            </div>
        </div>
    </div>

    <div class="fr-container fr-py-5w">
        <div class="fr-grid-row">
            <h2 class="fr-x-text--blue-france">{{ 'landing.road_users.how_it_works'|trans }}</h2>
        </div>

        <div class="fr-grid-row fr-my-3w">
            <div class="fr-col-12 fr-col-md-6">
                <p class="fr-text--xl">{{ 'landing.road_users.how_it_works.description'|trans }}</p>

                <ul class="fr-text--xl fr-x-list--checkmarks fr-x-md-stack" style="--stack-spacing: 1rem;">
                    <li>{{ 'landing.road_users.how_it_works.item1'|trans|raw }}</li>
                    <li>{{ 'landing.road_users.how_it_works.item2'|trans|raw }}</li>
                    <li>{{ 'landing.road_users.how_it_works.item3'|trans|raw }}</li>
                </ul>
            </div>
            <figure class="fr-col-12 fr-col-md-5 fr-col-offset-md-1 fr-quote fr-quote--column">
                <blockquote>
                    <p class="fr-text--regular">{{ 'landing.road_users.how_it_works.quote.part1'|trans }}</p>
                    <p>{{ 'landing.road_users.how_it_works.quote.part2'|trans }}</p>
                </blockquote>
                <figcaption>
                    <p class="fr-quote__author">{{ 'landing.road_users.how_it_works.quote.author'|trans }}</p>
                </figcaption>
            </figure>
        </div>

        <div class="fr-grid-row">
            <div class="fr-col">
                {% include '_landing_diagram.html.twig' with {spotlight: ['dialog', 'road_users']} only %}
            </div>
        </div>
    </div>

    <div class="fr-container fr-x-container--fluid fr-background-alt--blue-france fr-py-5w">
        <div class="fr-container">
            <h2 class="fr-x-text--blue-france">{{ 'landing.road_users.state_support.title'|trans }}</h2>
            <p class="fr-text--lg fr-mb-0">{{ 'landing.road_users.state_support.description'|trans|raw }}</p>
        </div>
    </div>

    <div class="fr-container fr-py-5w">
        <h2 class="fr-h4 fr-x-text--regular fr-x-text--mention-grey fr-x-text--italic">{{ 'landing.road_users.learn_more.title'|trans }}</h2>

        <h3 class="fr-h2 fr-x-text--blue-france">{{ 'landing.road_users.road_network.title'|trans }}</h3>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                <h4 class="fr-x-text--mention-grey">{{ 'landing.road_users.road_network.city.title'|trans }}</h4>
                <p class="fr-x-text-mention-grey">{{ 'landing.road_users.road_network.city.description.part1'|trans }}</p>
                <p class="fr-x-text-mention-grey"><small>{{ 'landing.road_users.road_network.city.description.part2'|trans }}</small></p>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <h4 class="fr-x-text--mention-grey">{{ 'landing.road_users.road_network.departement.title'|trans }}</h4>
                <p class="fr-x-text--mention-grey">{{ 'landing.road_users.road_network.departement.description.part1'|trans }}</p>
                <p class="fr-x-text--mention-grey"><small>{{ 'landing.road_users.road_network.departement.description.part2'|trans }}</small></p>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <h4 class="fr-x-text--mention-grey">{{ 'landing.road_users.road_network.national.title'|trans }}</h4>
                <p class="fr-x-text--mention-grey">{{ 'landing.road_users.road_network.national.description.part1'|trans }}</p>
                <p class="fr-x-text--mention-grey"><small>{{ 'landing.road_users.road_network.national.description.part2'|trans }}</small></p>
            </div>
        </div>

        <p>{{ 'landing.road_users.road_network.learn_more'|trans|raw }}</p>
    </div>
{% endblock %}
