{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{'reset_password.title'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="fr-container fr-container--fluid fr-mt-md-10v fr-mb-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v">
                    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                            <h1>{{ 'reset_password.title'|trans }}</h1>
                            {{ form_start(form) }}
                                {{ form_row(form.password.first, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_row(form.password.second, {group_class: 'fr-input-group', attr: {class: 'fr-input'} }) }}
                                {{ form_widget(form.save) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="fr-mt-8v fr-mb-8v">
                    <a href="{{ path('app_landing') }}" class="fr-link fr-fi-arrow-left-line fr-link--icon-left">
                        {{ 'common.back_to_home'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
