{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{ 'statistics.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="fr-container fr-x-max-w-156w fr-py-2w fr-py-md-5w">
        <h1>{{ 'statistics.title'|trans }}</h1>

        <d-responsive-iframe
            maxWidth="1200" {# Corresponds to 156w #}
            extraPadding="32"
            targetOrigin="{{ app.request.schemeAndHttpHost }}"
        >
            <iframe
                src="{{ dashboardEmbedUrl }}"
                frameborder="0"
                width="1200"
                height="1200"
                allowtransparency
                title="{{ 'statistics.dashboard.title'|trans }}"
                data-testid="dashboard"
            ></iframe>
        </d-responsive-iframe>
    </div>
{% endblock %}
