{% extends 'layouts/layout.html.twig' %}
{% set metaTitle = 'add.recipient.form.title'|trans %}
{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_config_organization_detail', {uuid: organization.uuid}), generatedPath: true },
                    { title: metaTitle },
                ]} %}
                <h2>{{ metaTitle }}</h2>
                {{ form_start(form) }}
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--end fr-mb-2w">
                        <div class="fr-col-12 fr-col-md-6">
                            {{ form_row(form.name, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                            {{ form_row(form.email, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                            {{ form_row(form.role, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                        </div>
                    </div>
                    <a href="{{ path('app_config_visa_models_list', {uuid: organization.uuid}) }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
                        {{ "common.cancel"|trans }}
                    </a>
                    {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
