{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{'recipient.list.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w" aria-labelledby="user-list">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                {% include 'my_area/organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-8">
                {% include "common/breadcrumb.html.twig" with { items: [
                    { title: 'user.myarea'|trans, path: 'app_my_area'},
                    { title: organization.name, url: path('app_config_organization_detail', {uuid: organization.uuid}), generatedPath: true },
                    { title: 'recipient.list.title'|trans },
                ]} %}
                <div class="fr-grid-row">
                    <h2 id="recipient-list" class="fr-col fr-mb-0">{{ 'recipient.list.title'|trans }}</h2>
                    {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                        <a href="{{ path('app_config_recipients_list_add', { uuid: organization.uuid }) }}" class="fr-ml-auto fr-btn fr-btn--secondary fr-x-btn-sm--icon-left fr-icon-add-line" title="{{ 'recipient.add.title'|trans }}">
                            {{ 'recipient.add.title'|trans }}
                        </a>
                    {% endif %}
                </div>
                <p class="fr-text--sm">{{ 'recipient.list.description'|trans }}</p>
                <div class="fr-table fr-table--layout-fixed fr-table--no-caption">
                    <table>
                        <caption>{{ 'user.list.title'|trans }}</caption>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'recipient.list.name'|trans }}</th>
                                <th scope="col">{{ 'recipient.list.email'|trans }}</th>
                                <th scope="col">{{ 'recipient.list.role'|trans }}</th>
                                <th scope="col" class="app-table__actions">{{ 'common.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody data-testid="recipient-list">
                            {% for mailingList in mailingLists %}
                                <tr>
                                    <td>
                                        {{ mailingList.name }}<br/>
                                    </td>
                                    <td>
                                        {{ mailingList.email }}<br/>
                                    </td>
                                    <td>
                                        {{ mailingList.role }}<br/>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
