{% if app.user and not app.user.isOrganizationsCompleted %}
    <div class="fr-notice fr-notice--warning" data-testid="notice-warning" data-controller="notice" data-notice-id-value="org-incomplete">
        <div class="fr-container" data-testid="organization-not-completed">
            <div class="fr-notice__body">
                <p>
                    <span class="fr-notice__title">{{ 'notice.my.organizations.title'|trans }}</span>
                    <br>
                    <span class="fr-notice__desc">{{ 'notice.my.organizations.description'|trans }}</span>
                    <a title="{{ 'notice.my.organizations.link'|trans }}" href="{{ path('app_my_organizations') }}" target="_blank" rel="noopener external" class="fr-notice__link">{{ 'notice.my.organizations.link'|trans }}</a>
                </p>
                <button title="{{ 'notice.my.organizations.btn.close'|trans }}" data-action="notice#dismiss" type="button" class="fr-btn--close fr-btn">{{ 'notice.my.organizations.btn.close'|trans }}</button>
            </div>
        </div>
    </div>
{% endif %}
