{% extends 'layouts/app.html.twig' %}
{% set metaTitle = user.fullName %}
{% block title %}
    {{ metaTitle }} - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="fr-container fr-py-5w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-3">
                {% include 'organization/_menu.html.twig' with { organization } only %}
            </div>
            <div class="fr-col-12 fr-col-md-9">
                <h3 class="fr-h3 fr-mb-2">
                    {{ metaTitle }}
                </h3>
                {{ form_start(form) }}
                    {{ form_row(form.fullName, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {{ form_row(form.email, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {% if form.password is defined %}
                        {{ form_row(form.password, { group_class: 'fr-input-group', widget_class: 'fr-input' }) }}
                    {% endif %}
                    {{ form_row(form.roles) }}

                    <a href="{{ path('app_users_list', {uuid: organization.uuid }) }}" class="fr-btn fr-btn--tertiary fr-mr-3w">
                        {{ "common.cancel"|trans }}
                    </a>
                    {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
