{% extends 'layouts/app.html.twig' %}

{% block title %}
    {{ 'error.404.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
     <div class="fr-container">
        <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
            <div class="fr-py-0 fr-col-12 fr-col-md-6">
                <h1>{{ 'error.404.title'|trans }}</h1>
                <p class="fr-text--sm fr-mb-3w">{{ 'error.status_code.detail'|trans({'%status%': 404})}}</p>
                <p class="fr-text--lead fr-mb-3w">
                    {{ 'error.404.description'|trans }}
                </p>
                <p class="fr-text--sm fr-mb-5w">
                    {{ 'error.404.more_description'|trans }}
                </p>
                <ul class="fr-btns-group fr-btns-group--inline-md">
                    <li>
                        <a class="fr-btn" href="{{ path('app_landing') }}">
                            {{ 'error.home_link'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:dialog@beta.gouv.fr" class="fr-btn fr-btn--secondary" data-testid="contact-link">
                            {{ 'error.contact'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
