{% extends 'layouts/layout.html.twig' %}

{% block title %}
    {{'regulation_order_template.list.title'|trans }} - {{ parent() }}
{% endblock %}

{% set deleteCsrfToken = csrf_token('delete-regulation-order-template') %}
{% set duplicateCsrfToken = csrf_token('duplicate-regulation-order-template') %}

{% block body %}
    <section class="fr-container fr-py-5w" aria-labelledby="regulation-order-template-list">
        {% include "common/breadcrumb.html.twig" with { items: [
            { title: 'user.myorganizations'|trans, path: 'app_my_organizations'},
            { title: organization.name, url: path('app_config_organization_detail', {uuid: organization.uuid}), generatedPath: true },
            { title: 'regulation_order_template.list.title'|trans },
        ]} %}

        <div class="fr-tabs">
            {% include 'my_area/organization/_tabs.html.twig' %}
            <div id="tab-1-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
                <div class="fr-grid-row fr-mb-2w">
                    <div class="fr-col-12 fr-col-md-8">
                        <h3 id="regulation-order-template-list" class="fr-h5 fr-x-text--default-grey" id="recipient-list">{{ 'regulation_order_template.list.title'|trans }}</h3>
                        <p class="fr-x-text">{{ 'regulation_order_template.list.help'|trans }}</p>
                    </div>
                    {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                        <a href="{{ path('app_config_regulation_order_templates_add', { organizationUuid: organization.uuid }) }}" class="fr-ml-auto fr-btn fr-btn--secondary fr-x-btn-sm--icon-left fr-icon-add-line" title="{{ 'regulation_order_template.add.title'|trans }}">
                            {{ 'regulation_order_template.add.title'|trans }}
                        </a>
                    {% endif %}
                </div>
                <div class="fr-table fr-table--layout-fixed fr-table--no-caption">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">{{ 'regulation_order_template.name'|trans }}</th>
                                <th scope="col" class="app-table__actions">{{ 'common.actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody data-testid="regulation-order-template-list">
                            {% for regulationOrderTemplate in regulationOrderTemplates %}
                                <tr>
                                    <td>
                                        {{ regulationOrderTemplate.name }}
                                        {% if not regulationOrderTemplate.organizationUuid %}<span class="fr-badge fr-badge--sm fr-badge--info fr-badge--no-icon">DiaLog</span>{% endif %}
                                    </td>
                                    <td>
                                        <div class="fr-btns-group fr-btns-group--center fr-btns-group--inline-sm">
                                            {% if is_granted(constant('App\\Infrastructure\\Security\\Voter\\OrganizationVoter::EDIT'), organization) %}
                                                {% if regulationOrderTemplate.organizationUuid %}
                                                    <a title="{{ 'common.update'|trans }}" href="{{ path('app_config_regulation_order_template_edit', { uuid: organization.uuid, regulationOrderTemplateUuid: regulationOrderTemplate.uuid }) }}" class="fr-btn fr-icon-edit-line fr-btn--tertiary-no-outline">
                                                        {{ 'common.update'|trans }}
                                                    </a>
                                                {% endif %}
                                                <form
                                                    method="POST"
                                                    action="{{ path('app_config_regulation_order_templates_duplicate', { uuid: regulationOrderTemplate.uuid, organizationUuid: organization.uuid }) }}"
                                                    data-controller="form-submit"
                                                    data-action="modal-trigger:submit->form-submit#submit"
                                                >
                                                    <input type="hidden" name="_token" value="{{ duplicateCsrfToken }}" />
                                                    <d-modal-trigger modal="regulation-order-template-duplicate-modal" submitValue="regulation-order-template-duplicate-{{ regulationOrderTemplate.uuid }}">
                                                        <button
                                                            class="fr-btn fr-btn--tertiary-no-outline fr-icon-x-file-copy-line"
                                                            aria-controls="regulation-order-template-duplicate-modal"
                                                        ></button>
                                                    </d-modal-trigger>
                                                </form>
                                                {% if regulationOrderTemplate.organizationUuid %}
                                                    <form
                                                        method="POST"
                                                        action="{{ path('app_config_regulation_order_templates_delete', { uuid: regulationOrderTemplate.uuid, organizationUuid: organization.uuid }) }}"
                                                        data-controller="form-submit"
                                                        data-action="modal-trigger:submit->form-submit#submit"
                                                    >
                                                        <input type="hidden" name="_method" value="DELETE">

                                                        <d-modal-trigger modal="regulation-order-template-delete-modal" submitValue="regulation-order-template-delete-{{ regulationOrderTemplate.uuid }}">
                                                            <button
                                                                class="fr-btn fr-btn--tertiary-no-outline fr-icon-delete-bin-line"
                                                                aria-controls="regulation-order-template-delete-modal"
                                                                aria-label="{{ 'common.delete'|trans }}"
                                                                title="{{ 'common.delete'|trans }}"
                                                            ></button>
                                                        </d-modal-trigger>
                                                        <input type="hidden" name="_token" value="{{ deleteCsrfToken }}" />
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_end %}
    {{ parent() }}
    {% include 'common/confirmation_modal.html.twig' with {
        id: 'regulation-order-template-delete-modal',
        title: 'regulation_order_template.delete_modal.title'|trans,
        buttons: [
            { label: 'common.delete'|trans, attr: {type: 'submit', class: 'fr-btn'} },
            { label: 'common.do_not_delete'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
        ]
    } only %}
    {% include 'common/confirmation_modal.html.twig' with {
        id: 'regulation-order-template-duplicate-modal',
        title: 'regulation_order_template.duplicate_modal.title'|trans,
        buttons: [
            { label: 'common.duplicate'|trans, attr: {type: 'submit', class: 'fr-btn'} },
            { label: 'common.do_not_duplicate'|trans, attr: {value: 'close', class: 'fr-btn fr-btn--secondary'} },
        ]
    } only %}
{% endblock %}
